@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl_giga{
  position: relative;
  img{
    width: 100%;
    height: auto;
  }
  .row{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
  }
}
.giga_service{
  background: #044E80;
  padding: 55px 0;
  .ttl_giga_service{
    color: #fff;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    font-weight: 600;
    margin: 0 0 55px;
    span{
      font-weight: bold;
      em{
        font-style: normal;
      }
    }
  }
  &_inner{
    display: flex;
    a{
      margin-right: 25px;
      transition: all .5s ease-out;
      dl{
        width: 315px;
        text-align: center;
        background: #fff;
        border-radius: 7px;
        &:last-child{
          margin-right: 0;
        }
        dt{
          font-size: 3rem;
          line-height: 1;
          color: #fff;
          font-weight: bold;
          background: #00AFDD;
          padding: 12px 0;
          border-top-right-radius: 7px;
          border-top-left-radius: 7px;
          font-family: Arial;
        }
        dd{
          padding: 10px 10px 30px;
          position: relative;
          figure{
            margin: 15px auto;
            min-height: 92px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .des{
            margin-bottom: 25px;
            span{
              font-size: 2rem;
              line-height: 1;
              color: #333333;
              font-weight: 600;
              display: block;
              margin-bottom: 15px;
            }
            h4{
              font-size: 3.2rem;
              line-height: 1;
              color: #044E80;
              font-weight: 600;
            }
          }
          .arrow{
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: #F5F7F9;
            text-indent: -9999px;
            display: flex;
            align-items: center;
            padding: 8px 0;
            border-bottom-right-radius: 7px;
            border-bottom-left-radius: 7px;
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            transition-duration: 0.3s;
            &:after{
              content: "";
              width: 24px;
              height: 16px;
              background: url(../images/ic_down.png) no-repeat;
              background-size: contain;
              display: block;
              margin: 0 auto;
              transform: translateZ(0);
            }
          }
        }
      }
      &:hover{
        opacity: .8;
        .arrow{
          &:after{
            animation-name: hvr-icon-hang-sink, hvr-icon-hang;
            animation-duration: .3s, 1.5s;
            animation-delay: 0s, .3s;
            animation-timing-function: ease-out, ease-in-out;
            animation-iteration-count: 1, infinite;
            animation-fill-mode: forwards;
            animation-direction: normal, alternate;
          }
        }
      }
    }
  }
}
.giga{
  padding: 70px 0;
  h3{
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin: 0 0 30px;
    font-family: Arial;
    color: #00AFDD;
    span{
      &:before{
        content:'';
        display: inline-block;
        margin-right: 17px;
        vertical-align: middle;
      }
    }
    &:before{
      content:'';
      width: 90px;
      height: 3px;
      background: #00AFDD;
      display: inline-block;
      margin-right: 25px;
      vertical-align: middle;
    }
    &:after{
      content:'';
      width: 90px;
      height: 3px;
      background: #00AFDD;
      display: inline-block;
      margin-left: 25px;
      vertical-align: middle;
    }
  }
  h4{
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 600;
    color: #044E80;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }
  em{
    font-size: 1.5rem;
    color: #044E80;
    text-align: center;
    display: block;
    font-style: normal;
    margin-bottom: 20px;
    font-weight: 600;
  }
  picture{
    margin-top: 40px;
    margin-bottom: 35px;
    img{
      width: 100%;
      height: auto;
    }
  }
  p{
    font-size: 1.5rem;
    color: #333333;
    line-height: 1.6;
    padding: 0 15px;
    margin-bottom: 25px;
    span{
      color: #044E80;
    }
  }
  .note{
    color: #9A9A9A;
    font-size: 1.1rem;
    line-height: 1.6;
  }
}
.giga_top{
  h3{
    span{
      &:before{
        width: 48px;
        height: 34px;
        background: url(../images/ic_giga.png) no-repeat;
        background-size: contain;
      }
    }
  }
}
.giga_mid{
  background: #E3F2FC;
  h3{
    span{
       &:before{
        width: 48px;
        height: 36px;
        background: url(../images/ic_wf.png) no-repeat;
        background-size: contain;
      }
    }
  }
}
.giga_bot{
  h3{
    span{
      &:before{
        width: 51px;
        height: 50px;
        background: url(../images/ic_mc.png) no-repeat;
        background-size: contain;
      }
    }
  }
}

@-webkit-keyframes hvr-icon-hang {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}