@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.gr_ttl_giga{
  img{
    width: 100%;
    height: auto;
  }
}
.giga_service{
  background: #044E80;
  padding: vw(75) 0;
  .ttl_giga_service{
    color: #fff;
    font-size: vw(42);
    line-height: 1.2;
    text-align: center;
    font-weight: 500;
    margin: 0 0 vw(55);
    span{
      display: block;
      font-size: vw(46);
      font-weight: bold;
      em{
        font-style: normal;
        font-size: vw(60);
      }
    }
  }
  &_inner{
    display: block;
    a{
      margin-bottom: vw(30);
      display: block;
      dl{
        width: 100%;
        text-align: center;
        background: #fff;
        border-radius: vw(7);
        &:last-child{
          margin-bottom: 0;
        }
        dt{
          font-size: vw(30);
          line-height: 1;
          color: #fff;
          font-weight: bold;
          background: #00AFDD;
          padding: vw(12) 0;
          border-top-right-radius: vw(7);
          border-top-left-radius: vw(7);
        }
        dd{
          display: flex;
          justify-content: space-between;
          position: relative;
          padding: vw(50) vw(72);
          figure{
            img{
              width: vw(119);
            }
          }
          .des{
            span{
              font-size: vw(30);
              line-height: 1;
              color: #333333;
              font-weight: 500;
              display: block;
              margin-bottom: vw(15);
            }
            h4{
              font-size: vw(44);
              line-height: 1;
              color: #044E80;
              font-weight: 500;
              margin-bottom: vw(25);
            }
          }
          .arrow{
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: #F5F7F9;
            text-indent: -9999px;
            display: flex;
            align-items: center;
            padding: vw(8) 0;
            border-bottom-right-radius: vw(7);
            border-bottom-left-radius: vw(7);
            &:after{
              content: "";
              width: vw(24);
              height: vw(16);
              background: url(../images/ic_down.png) no-repeat;
              background-size: contain;
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
.giga{
  padding: vw(70) 0;
  h3{
    font-size: vw(35);
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin: 0 0 vw(30);
    font-family: Arial;
    color: #00AFDD;
    span{
      &:before{
        content:'';
        display: inline-block;
        margin-right: vw(17);
        vertical-align: middle;
      }
    }
    &:before{
      content:'';
      width: vw(90);
      height: vw(3);
      background: #00AFDD;
      display: inline-block;
      margin-right: vw(25);
      vertical-align: middle;
    }
    &:after{
      content:'';
      width: vw(90);
      height: vw(3);
      background: #00AFDD;
      display: inline-block;
      margin-left: vw(25);
      vertical-align: middle;
    }
  }
  h4{
    font-size: vw(42);
    line-height: 1.3;
    font-weight: 500;
    color: #044E80;
    text-align: center;
    margin-bottom: vw(20);
  }
  em{
    font-size: vw(20);
    color: #044E80;
    text-align: center;
    display: block;
    font-style: normal;
    margin-bottom: vw(20);
    font-weight: 500;
  }
  picture{
    margin-top: vw(40);
    margin-bottom: vw(35);
    img{
      width: 100%;
      height: auto;
    }
  }
  p{
    font-size: vw(26);
    color: #333333;
    line-height: 1.6;
    padding: 0 vw(5);
    margin-bottom: vw(25);
    text-align: justify;
    span{
      color: #044E80;
    }
  }
  .note{
    color: #9A9A9A;
    font-size: vw(22);
    line-height: 1.6;
    text-align: justify;
  }
}
.giga_top{
  h3{
    span{
      &:before{
        width: vw(48);
        height: vw(34);
        background: url(../images/ic_giga.png) no-repeat;
        background-size: contain;
      }
    }
  }
}
.giga_mid{
  background: #E3F2FC;
  h3{
    span{
       &:before{
        width: vw(48);
        height: vw(36);
        background: url(../images/ic_wf.png) no-repeat;
        background-size: contain;
      }
    }
  }
}
.giga_bot{
  h3{
    span{
      &:before{
        width: vw(51);
        height: vw(50);
        background: url(../images/ic_mc.png) no-repeat;
        background-size: contain;
      }
    }
  }
}