@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.gr_ttl_price{
  height: vw(420);
  background: url(../images/price_banner.png) no-repeat;
  background-size: cover;
  picture{
    padding-top: vw(40);
    img{
      width: vw(676);
    }
  }
}
.price_banner{
  background: #e4f2fd;
  padding: vw(70) 0;
  position: relative;
  margin-bottom: vw(40);
  picture{
    margin-bottom: vw(25);
    img{
      width: vw(683);
    }
  }
  &:after{
    content: '';
    width: 0; 
    height: 0; 
    border-left: vw(40) solid transparent;
    border-right: vw(40) solid transparent;
    border-top: vw(40) solid #e4f2fd;
    position: absolute;
    bottom: vw(-40);
    left: 0;
    right: 0;
    margin: auto;
  }
}
.price_ct{
  padding: vw(70) 0;
  &_tt{
    font-size: vw(42);
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin: 0 0 vw(30);
  }
  &_des{
    font-size: vw(26);
    line-height: 1.7;
    color: #333333;
    font-weight: 500;
    display: block;
    text-align: left;
    margin: 0 auto vw(110);
  }
  &_tab{
    position: relative;
    margin-bottom: vw(95);
    .rec{
      width: vw(126);
      height: vw(125);
      background: url(../images/bkg_sp.png) no-repeat;
      background-size: contain;
      position: absolute;
      top: vw(-70);
      left: vw(-10);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: vw(15);
      line-height: 1;
    }
    &_head{
      list-style-type: none; 
      margin: vw(30) 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li{
        width: 44%;
        a{
          color: #42454a;
          border: 1px solid #cccccc; 
          padding: vw(21) 0 vw(17);
          text-decoration: none;
          display: block;
          position: relative;
          font-size: vw(26);
          color: #59a8e0;
          text-align: center;
          font-weight: 500;
          border-top-right-radius: vw(7);
          border-top-left-radius: vw(7);
          background: #f5f7f8;
          top: 1px;
           border-bottom: none;
          &.selected{
            background: #fff;
            border: 3px solid #59a8e0;
            border-bottom: none;
            top: 3px;
            &:after{
              display: none;
            }
          }
        }
         &.tabsa{
          a{
            &:before{
              content: '';
              width: vw(80);
              height: vw(52);
              background: url(../images/ic_02.png) no-repeat;
              background-size: contain;
              display: inline-block;
              vertical-align: middle;
              margin-right: vw(5);
            }
            &:after{
              content: '';
              width: vw(22);
              height: vw(15);
              background: url(../images/ic_down01.png) no-repeat;
              background-size: contain;
              display: inline-block;
              vertical-align: middle;
              position: relative;
              top: vw(-2);
              margin-left: vw(5);
            }
          }
        }
        &.tabsb{
          a{
            &:before{
              content: '';
              width: vw(80);
              height: vw(52);
              background: url(../images/pr_03_pc.png) no-repeat;
              background-size: contain;
              display: inline-block;
              vertical-align: middle;
              margin-right: vw(5);
            }
            &:after{
              content: '';
              width: vw(22);
              height: vw(15);
              background: url(../images/ic_down02.png) no-repeat;
              background-size: contain;
              display: inline-block;
              vertical-align: middle;
              position: relative;
              top: vw(-2);
              margin-left: vw(5);
            }
          }
        }
        &:last-child{
          a{
            color: #3f799e;
            &.selected{
              border: 3px solid #3f799e;
              border-bottom: none;
              top: 3px;
            }
          }
        }
      }
    }
    .tabContent{
      border: 3px solid #59a8e0; 
      padding: vw(50) vw(30) vw(80);
      border-bottom-right-radius: vw(7);
      border-bottom-left-radius: vw(7);
      &.hide{
        display: none;
      }
      .tab_ct_inner{
        margin-bottom: vw(35);
        .tab_ct_l{
			   margin-bottom: vw(95);
         .st1{
           dl{
              dd{
                picture{
                  margin-bottom: vw(25);
                  img{
                    width: vw(399);
                  }
                }
              }
            }
          }
        }
        .st1{
          display: flex;
          justify-content: space-between;
          margin-bottom: vw(30);
          dl{
            width: 100%;
            text-align: center;
            background: #fff;
            border: 2px solid #59a8e0;
            border-radius: vw(7);
            position: relative;
            margin-bottom: vw(20);
            &:after{
              content: '';
              width: 0; 
              height: 0;
              position: absolute;
              bottom: vw(-14);
              left: 0;
              right: 0;
              margin: auto;
              border-left: vw(20) solid transparent;
              border-right: vw(20) solid transparent;
              border-top: vw(14) solid #044E80;
              z-index: 1;
            }
            &:before{
              content: '';
              width: 0; 
              height: 0;
              position: absolute;
              bottom: vw(-12);
              left: 0;
              right: 0;
              margin: auto;
              border-left: vw(16) solid transparent;
              border-right: vw(16) solid transparent;
              border-top: vw(12) solid #F7FCFE;
              z-index: 2;
            }
            dt{
              background: #59a8e0;
              color: #fff;
              font-size: vw(26);
              line-height: 1;
              padding: vw(20) vw(10);
            }
            dd{
              padding: vw(20);
              background: #F7FCFE;
              border-radius: vw(7);
              picture{
                margin-bottom: vw(25);
                img{
                  width: vw(214);
                }
              }
              p{
                font-size: vw(22);
                line-height: 1;
                color: #59a8e0;
              }
            }
          }
        }
        .st2{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: vw(35);
          .st2_child{
          	width: 100%;
            dl{
              padding: vw(20) 0 vw(17);
              display: flex;
              align-items: center;
              width: 100%;
              border-top: 1px solid #ececec;
              &:last-of-type{
                border-bottom: 1px solid #ececec;
              }
              dt{
                width: vw(180);
                text-align: center;
                font-size: vw(22);
                span{
                  display: block;
                }
              }
              dd{
                text-align: center;
                width: vw(446);
                .price_st2{
                  em{
                    font-style: normal;
                    font-size: vw(67);
                    line-height: 1;
                    font-weight: 500;
                    display: inline-block;
                    color: #333;
                    padding-right: 6px;
                    &:before{
                      content: '月額';
                      writing-mode: vertical-lr;
                      text-orientation: upright;
                      display: inline-block;
                      font-size: vw(22);
                      line-height: 1;
                      padding-right: vw(6);
                    }
                  }
                  span{
                    font-size: vw(38);
                    line-height: 1;
                    font-weight: 500;
                    display: inline-block;
                    color: #333;
                    &:before{
                      content: '（税抜）';
                      display: block;
                      font-size: vw(11);
                      line-height: 1;
                    }
                  }
                  &.hl{
                    em, span{
                      color: #e73d64;
                      font-weight: bold;
                    }
                  }
                  &.null{
                    em, span{
                      &:before{
                        display: none;
                      }
                    }
                  }
                }
                .des_st2{
                  margin-top: vw(15);
                  a{
                    background: #59a8e0;
                    color: #fff;
                    font-size: vw(13);
                    line-height: 1;
                    padding: vw(5);
                    width: vw(178);
                    border-radius: vw(3);
                    display: inline-block;
                    sub {
                      top: -0.25em;
                      bottom: inherit;
                    }
                  }
                  span{
                    font-size: vw(16);
                    color: #333;
                    padding-left: vw(12);
                    strong{
                      font-style: normal;
                      font-size: vw(24);
                      line-height: 1;
                      color: #e73d64;
                      font-weight: bold;
                      padding: 0 vw(3);
                      em{
                        font-size: vw(14);
                        line-height: 1;
                        font-weight: 500;
                        font-style: normal;
                      }
                    }
                  }
                  &.null{
                    display: none;
                  }
                }
              }
            }
          }
        }
        .btn_price{
          display: flex;
          align-items: center;
          justify-content: space-around;
          a{
            display: inline-block;
            color: #fff;
            background: #e73d64;
            font-size: vw(30);
            line-height: 1;
            text-align: center;
            padding: vw(35);
            width: 100%;
            border-radius: vw(3);
            box-shadow: 1px 1px 5px #797979;
            position: relative;
            &:after{
              content: '';
              width: vw(13);
              height: vw(23);
              background: url(../images/arr_right_hv.png) no-repeat;
              background-size: contain;
              position: absolute;
              right: vw(18);
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
      }
      >p{
        color: #9A9A9A;
        font-size: vw(22);
        line-height: 1.6;
      }
      .blue_hl{
      	color: #3B8DCD;
      }
      >ul{
        margin-bottom: vw(20);
        font-size: vw(22);
        line-height: 1.6;
        li{
          color: #9A9A9A;
        }
      }
      .note{
        color: #9A9A9A;
        font-size: vw(22);
        line-height: 1.6;
        text-align: left;
        margin-bottom: vw(25);
      }
      &:last-of-type{
        border: 3px solid #044E80;
        .st1{
          dl{
            border: 2px solid #044E80;
            dt{
              background: #044E80;
            }
            dd{
              p{
                color: #044E80;
              }
            }
          }
        }
        .st2{
          .st2_child{
            dl{
              dd{
                .des_st2{
                  a{
                    background: #044E80;
                  }
                }
              }
            }
          }
        }
      }
      &:last-of-type{
        .tab_ct_inner{
          .st1{
            dl{
              &:after{
                border-left: vw(20) solid transparent;
                border-right: vw(20) solid transparent;
                border-top: vw(14) solid #044E80;
              }
              &:before{
                border-left: vw(16) solid transparent;
                border-right: vw(16) solid transparent;
                border-top: vw(12) solid #F7FCFE;
              }
            }
          }
        } 
      }
    }
  }
  &_table{
    h4{
      font-size: vw(36);
      line-height: 2;
      color: #3B8DCD;
      text-align: left;
      font-weight: bold;
      border-bottom: 3px solid #3B8DCD;
      margin-bottom: vw(45);
    }
    table{
      border: 2px solid #d6d8d7;
      border-collapse: collapse;
      width: 100%;
      border-radius: vw(5);
      border-style: hidden;
      box-shadow: 0 0 0 2px #d6d8d7;
      margin-bottom: vw(30);
      tr{
        border: 2px solid #d6d8d7;
        td{
          border: 2px solid #d6d8d7;
          font-size: vw(28);
          padding: vw(18) vw(25);
        }
        .thead{
          width: vw(248);
          background: #F5F7F9;
          font-weight: bold;
        }
      }
    }
    .note{
      color: #9A9A9A;
      font-size: vw(22);
      line-height: 1.6;
    }
  }
}
.info{
  background: #3c8dce;
  padding: vw(56) 0;
  &_inner{
    background: #fff;
    border-radius: vw(6);
    padding: vw(50);
    margin-bottom: vw(55);
    &_tt{
      font-size: vw(42);
      color: #333333;
      line-height: 1.3;
      font-weight: 500;
      text-align: center;
      margin-bottom: vw(75);
      span{
        color: #ea3b64;
      }
    }
    &_ct{
      margin-bottom: vw(50);
      picture{
        margin-bottom: vw(85);
        img{
        	margin: 0 auto;
        	display: block;
          width: vw(441);
        }
      }
      &_in{
        p{
          font-size: vw(26);
          color: #333333;
          line-height: 1.6;
          margin-bottom: vw(60);
        }
      }
    }
    .btn_wimax_order{
      margin: 0 auto;
    }
  }
}
.price_table{
  padding: vw(80) 0;
  &_tt{
    font-size: vw(42);
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin: 0 0 vw(65);
  }
  &_des{
    font-size: vw(26);
    line-height: 1.7;
    color: #333333;
    font-weight: 500;
    display: block;
    margin-bottom: vw(115);
    text-align: center;
  }
  &_ct{
    h4{
      font-size: vw(36);
      line-height: 1.5;
      color: #59a8e0;
      text-align: left;
      font-weight: bold;
      border-bottom: 3px solid #59a8e0;
      margin-bottom: vw(50);
    }
    picture{
      margin-bottom: vw(60);
      img{
        width: vw(668);
      }
    }
    table{
      border: 2px solid #d6d8d7;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: vw(60);
      tr{
        border: 2px solid #d6d8d7;
        border-collapse: collapse;
        td{
          border: 2px solid #d6d8d7;
          border-collapse: collapse;
          font-size: vw(28);
          padding: vw(20) vw(20) vw(20) vw(25);
        }
        .thead{
          width: vw(248);
          background: #F5F7F9;
          font-weight: bold;
          color: #333;
          .btn_pop{
            background: #666;
            color: #fff;
            padding: vw(10) vw(15);
            text-align: center;
            line-height: 1;
            display: block;
            border-radius: vw(3);
            width: 100%;
            margin-top: vw(20);
            font-size: vw(19);
            vertical-align: middle;
            &:before{
            	content: '';
              	width: vw(22);
              	height: vw(22);
              	background: url(../images/ic_ques.png) no-repeat;
              	background-size: contain;
              	display: inline-block;
              	vertical-align: middle;
              	padding-right: vw(8);
              	position: relative;
            	top: vw(-2);
            }
          }
        }
      }
    }
  }
  &_bot{
    table{
      tr{
        .thead{
          width: vw(316);
          background: #F5F7F9;
          font-weight: bold;
        }
      }
    }
  }
}
.info_bot{
  background: #eaeff3;
  padding: vw(70) 0;
  &_tt{
    font-size: vw(42);
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin: 0 0 vw(40);
  }
  &_des{
    font-size: vw(26);
    line-height: 1.2;
    color: #333333;
    font-weight: 500;
    display: block;
    margin-bottom: vw(60);
    text-align: center;
  }
  picture{
    img{
      width: vw(682);
    }
  }
}
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
  z-index: 999;
  .popup_main{
    visibility: hidden;
    position: relative;
    transition: all .3s ease;
    background-color: #fff;
    padding: vw(78) vw(43) vw(73);
    text-align: left;
    width: 90%;
    max-width: 100%;
    transform: scale(.5);
    .popup_content{
      position: relative;
      .popup_content_l{
        dl{
          dt{
            font-size: vw(30);
            line-height: vw(30);
            position: relative;
            font-weight: 500;
            padding-left: vw(20);
            margin-bottom: vw(40);
            &:before{
              content: "";
              width: vw(4);
              height: vw(30);
              background-color: #3B8DCD;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
          dd{
            p{
              line-height: 2;
              font-size: vw(26);
            }
          }
        }
      }
      .popup_content_r{
        picture{
          margin-bottom: vw(75);
          img{
            width: vw(337);
            margin: vw(40) auto;
            display: block;
          }
        }
      }
    }
    .close{
      text-indent: -9999px;
      width: vw(37);
      height: vw(36);
      background: url(../images/ic_close.png) no-repeat;
      background-size: contain;
      position: absolute;
      right: vw(28);
      top: vw(23);
    }
  }
  &.open{
    opacity: 1;
    visibility: visible;
    .popup_main{
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }
}