.footer {
  &_top {
    border-top: vw(5) solid #3B8DCD;
    background: #E3F2FC;
    padding: vw(20) vw(38) vw(30);
    bottom: vw(-140);
    transition: bottom 0.3s ease 0.3s;
    &.fixed {
      position: fixed;
      z-index: 99;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  &_mid {
    background: #3b8dcd;
    &_main {
      flex-wrap: wrap;
      padding: 0;
      dl {
        width: 100%;
        dt {
          display: none;
        }
        dd {
          > ul {
            > li {
              position: relative;
              width: 100%;
              > a {
                display: block;
                font-size: vw(26);
                width: 100%;
                line-height: 1;
                font-weight: 400;
                color: #fff;
                position: relative;
                padding: vw(35) vw(38) vw(28) vw(38);
                border-bottom: 1px solid #fff;
              }
              > span {
                position: absolute;
                width: vw(90);
                height: vw(100);
                top: 0;
                right: 0;
                z-index: 2;
                text-indent: -9999px;
                overflow: hidden;
                background: url('../images/icon_arrow_d.png') center center no-repeat;
                background-size: #{vw(29)} #{vw(15)};
                transition: all 0.3s ease;
                &.open {
                  transform: rotate(180deg);
                }
              }
              > ul {
                width: calc(100% + #{vw(76)});
                height: 0;
                overflow: hidden;
                transition: all 0.3s ease;
                > li {
                  > a {
                    display: block;
                    width: 100%;
                    padding: vw(35) vw(38) vw(28) vw(68);
                    font-size: vw(26);
                    line-height: 1;
                    font-weight: 400;
                    color: #fff;
                    border-bottom: 1px solid #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &_bot {
    &_logo {
      background: #fff;
      &_r {
        padding: vw(31) vw(100) vw(31);
        flex-direction: column;
        justify-content: center;
        > a {
          font-size: 0;
          display: block;
          width: vw(313);
          margin-bottom: vw(30);
          img {
            width: 100%;
            height: auto;
          }
        }
        > ul {
          flex-wrap: wrap;
          justify-content: center;
          li {
            padding: 0 vw(26);
            font-size: 0;
            &:not(:last-child) {
              border-right: 1px solid #000;
            }
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
            &:nth-of-type(3) {
              border-right: 0;
              padding-right: 0;
            }
            &:nth-last-of-type(-n+2) {
              margin-top: vw(20);
            }
            a {
              font-size: vw(20);
              line-height: vw(24);
              font-weight: 400;
              display: inline-block;
              color: #000;
            }
          }
        }
      }
    }
    &_copy {
      background: #454544;
      padding: vw(26) 0 vw(22);
      text-align: center;
      font-size: vw(20);
      line-height: 1;
      font-weight: 500;
      color: #fff;
    }
  }
}
.btn_wimax_order {
  display: block;
  width: 100%;
  height: vw(95);
  position: relative;
  border-radius: 5px;
  transform: translateZ(0);
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #962A47;
    left: 0;
    top: vw(10);
    border-radius: vw(5);
    box-shadow: 0px 2px 2px 2px rgba(0, 82, 107, 0.3);
    z-index: -1;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #e73c64;
    border-radius: vw(5);
    padding: 0 0 0 vw(135);
    &::after {
      position: absolute;
      content: attr(data-txt);
      width: vw(137);
      height: vw(136);
      display: flex;
      align-items: flex-end;
      font-size: vw(36);
      line-height: 1;
      font-weight: 700;
      padding: 0 0 vw(30) vw(20);
      color: #e73c64;
      background: url('/common/images/circle.png') 0 0 no-repeat;
      background-size: contain;
      left: vw(-30);
      top: vw(-35);
      box-sizing: border-box;
      transform: rotateZ(-10deg);
      transform-origin: 0 0  ;
    }
    span {
      height: 100%;
      width: 100%;
      font-size: vw(30);
      line-height: 1;
      font-weight: 700;
      color: #fff;
      &::before,&::after {
        position: relative;
        content: "";
        display: block;
      }
      &::before {
        width: vw(50);
        height: vw(36);
        background: url('../images/icon_monitor.png') 0 0 no-repeat;
        background-size: contain;
        margin-right: vw(13);
      }
      &::after {
        width: vw(14);
        height: vw(23);
        background: url('../images/icon_arrow_r.png') 0 0 no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: vw(20);
      }
    }
  }
}