.footer {
  &_top {
    border-top: 5px solid #3B8DCD;
    background: #E3F2FC;
    padding: 25px 0;
  }
  &_mid {
    background: #3b8dcd;
    padding: 50px 0;
    &_main {
      dl {
        width: 230px;
        dt {
          font-size: 1.4rem;
          line-height: 1;
          font-weight: 700;
          color: #fff;
          padding: 0 0 15px;
          border-bottom: 1px solid #fff;
          margin-bottom: 20px;
        }
        dd {
          > ul {
            > li {
              padding: 0 0 0 15px;
              &:not(:first-child) {
                margin-top: 15px;
              }
              > a {
                display: inline-block;
                font-size: 1.2rem;
                line-height: 1;
                font-weight: 400;
                color: #fff;
                position: relative;
                &::before {
                  position: absolute;
                  content: "";
                  width: 4px;
                  height: 6px;
                  background: url('../images/triangle.png') 0 0 no-repeat;
                  background-size: contain;
                  left: -15px;
                  top: 50%;
                  transform: translateY(-50%);
                }
                &:hover {
                  text-decoration: underline;
                }
              }
              > span {
                display: none;
              }
              > ul {
                padding: 15px 0 0 15px;
                > li {
                  &:not(:first-child) {
                    margin-top: 15px;
                  }
                  > a {
                    display: inline-block;
                    font-size: 1.2rem;
                    line-height: 1;
                    font-weight: 400;
                    color: #fff;
                    position: relative;
                    &::before {
                      position: absolute;
                      content: "";
                      width: 6px;
                      height: 7px;
                      background: url('../images/icon_l.png') 0 0 no-repeat;
                      background-size: contain;
                      left: -15px;
                      top: 0;
                    }
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &_bot {
    &_logo {
      background: #fff;
      &_r {
        padding: 23px 0 19px 15px;
        > a {
          font-size: 0;
          display: block;
          width: 183px;
          margin-right: 90px;
          img {
            width: 100%;
            height: auto;
          }
        }
        > ul {
          li {
            padding: 0 13px;
            font-size: 0;
            &:not(:last-child) {
              border-right: 1px solid #000;
            }
            &:first-child {
              padding-left: 0;
            }
            &:last-child {
              padding-right: 0;
            }
            a {
              font-size: 1.2rem;
              line-height: 14px;
              font-weight: 400;
              display: inline-block;
              color: #000;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
    &_copy {
      background: #454544;
      padding: 13px 0 11px;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1;
      font-weight: 500;
      color: #fff;
    }
  }
}
.btn_wimax_order {
  display: block;
  width: 531px;
  height: 74px;
  position: relative;
  border-radius: 5px;
  transform: translateZ(0);
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #962A47;
    left: 0;
    top: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px rgba(0, 82, 107, 0.3);
    z-index: -1;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #e73c64;
    border-radius: 5px;
    padding: 0 0 0 105px;
    &::before {
      content: "";
      width: 200%;
      height: 200%;
      background: rgba(255, 255, 255, 0.4);
      transform: rotate(-45deg);
      position: absolute;
      top: -10%;
      left: -180%;
      transition: 0.7s ease-in-out;
    }
    &::after {
      position: absolute;
      content: attr(data-txt);
      width: 99px;
      height: 99px;
      display: flex;
      align-items: flex-end;
      font-size: 2.4rem;
      line-height: 1;
      font-weight: 700;
      padding: 0 0 22px 20px;
      color: #e73c64;
      background: url('/common/images/circle.png') 0 0 no-repeat;
      background-size: contain;
      left: -25px;
      top: -25px;
      box-sizing: border-box;
      transform: rotateZ(-10deg);
      transform-origin: 0 0  ;
    }
    &:hover {
      &::before {
        left: 60%;
      }
    }
    span {
      height: 100%;
      width: 100%;
      font-size: 2.3rem;
      line-height: 1;
      font-weight: 700;
      color: #fff;
      &::before,&::after {
        position: relative;
        content: "";
        display: block;
      }
      &::before {
        width: 37px;
        height: 26px;
        background: url('../images/icon_monitor.png') 0 0 no-repeat;
        background-size: contain;
        margin-right: 10px;
      }
      &::after {
        width: 11px;
        height: 18px;
        background: url('../images/icon_arrow_r.png') 0 0 no-repeat;
        background-size: contain;
        margin-left: 25px;
      }
    }
  }
}