.header {
  position: relative;
  &.fixed {
    position: fixed;
    z-index: 999;
    background: #fff;
    width: 100%;
    left: 0;
    top: 0;
  }
  &_main {
    padding: 0;
  }
  &_top {
    padding: 0 0 0 vw(13);
    align-items: inherit;
    h1 {
      padding: vw(28) 0 vw(10);
      font-size: 0;
      a {
        display: inline-block;
        width: vw(254);
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &_r {
      display: flex;
      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: vw(130);
        font-size: vw(17);
        line-height: 1;
        font-weight: 500;
        color: #fff;
        &::before {
          position: relative;
          content: "";
        }
        &.apply {
          background: #e73c64;
          &::before {
            width: vw(33);
            height: vw(40);
            background: url('../images/icon_note.png') 0 0 no-repeat;
            background-size: contain;
            margin-bottom: vw(12);
          }
        }
        &.menu_bar {
          background: #3b8dcd;
          &::before {
            width: vw(47);
            height: vw(38);
            background: url('../images/menu_bar.png') 0 0 no-repeat;
            background-size: contain;
            margin-bottom: vw(14);
          }
        }
      }
    }
  }
  &_bottom {
    background: gray;
    width: vw(681);
    height: 100vh;
    overflow: scroll;
    position: absolute;
    top: 0;
    right: vw(-681);
    transition: right 0.3s ease;
    &.open {
      right: 0;
      z-index: 99;
    }
  }
  &_nav {
    background: #fff;
    &_l {
      display: block;
      > li {
        width: 100%;
        position: relative;
        z-index: 90;
        > a {
          display: block;
          width: 100%;
          font-size: vw(36);
          line-height: 1;
          font-weight: 500;
          text-align: left;
          padding: vw(36) 0 vw(28) vw(125);
          border-bottom: 1px solid #ccc;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            top: 50%;
            transform: translateY(-50%);
          }
          @each $cl,$w,$h,$l in ('icon_wimax',58,42,35),('icon_yen',52,52,35),('icon_ques',34,52,48),('icon_faq',53,53,36),('icon_location',36,52,44) {
            &.#{$cl} {
              &::before {
                width: vw($w);
                height: vw($h);
                background: url('../images/#{$cl}.png') center no-repeat;
                background-size: contain;
                left: vw($l);
              }
            }
          }
        }
        > span {
          position: absolute;
          width: vw(90);
          height: vw(100);
          top: 0;
          right: 0;
          z-index: 2;
          text-indent: -9999px;
          overflow: hidden;
          background: url('../images/arrow_nav.png') center center no-repeat;
          background-size: #{vw(29)} #{vw(15)};
          transition: all 0.3s ease;
          &.open {
            transform: rotate(180deg);
          }
        }
        > ul {
          width: 100%;
          padding: 0 0 0 vw(60);
          height: 0;
          overflow: hidden;
          transition: all 0.3s ease;
          > li {
            width: 100%;
            text-align: left;
            font-size: vw(36);
            line-height: 1;
            font-weight: 400;
            &:first-of-type {
              height: 0;
              overflow: hidden;
            }
            > a {
              display: block;
              width: 100%;
              color: #000;
              padding: vw(30) 0 vw(30) vw(60);
              border-bottom: 1px solid #ccc;
              position: relative;
              &::before {
                position: absolute;
                content: "-";
                font-size: vw(36);
                line-height: 1;
                color: #000;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
    > p {
      text-align: right;
      padding: vw(30) vw(30) vw(30) 0;
      border-bottom: vw(15) solid #3b8dcd;
      span {
        display: inline-block;
        position: relative;
        font-size: vw(36);
        line-height: 1;
        font-weight: 500;
        color: #000;
        padding: 0 vw(67) 0 0;
        &::after {
          position: absolute;
          content: "";
          width: vw(42);
          height: vw(42);
          background: url('../images/icon_close.png') 0 0 no-repeat;
          background-size: contain;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    &_btn {
      padding: vw(40) vw(46) vw(63) vw(32);
      // background: #f2f2f2;
      background: gray;
      a {
        display: block;
        width: 100%;
        height: vw(111);
        position: relative;
        transform: translateX(0);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          z-index: -1;
          top: vw(6);
          border-radius: vw(10);
          left: 0;
        }
        &::before {
          position: absolute;
          content: "";
          width: #{vw(14)};
          height: #{vw(23)};
          background: url('../images/icon_arrow.png') 0 0 no-repeat;
          background-size: contain;
          top: 50%;
          transform: translateY(-50%);
          right: vw(24);
          z-index: 1;
        }
        span {
          width: 100%;
          height: 100%;
          border-radius: vw(10);
          font-size: vw(36);
          line-height: 1;
          font-weight: 700;
          color: #fff;
          position: relative;
          transition: transform 0.3s ease;
          &::before {
            position: relative;
            content: "";
          }
          &::before {
            margin-right: vw(28);
          }


        }
        &._envelop {
          margin-right: 9px;
          &::after {
            background: #204D6B;
          }
          span {
            background: #3B8DCD;
            &::before {
              width: vw(52);
              height: vw(36);
              background: url('../images/icon_envelop.png') 0 0 no-repeat;
              background-size: contain;

            }
          }
        }
        &._lap {
          width: 100%;
          margin-top: vw(30);
          &::after {
            background: #962A47;
          }
          span {
            background: #E73C64;
            &::before {
              width: vw(54);
              height: vw(39);
              background: url('../images/icon_lap.png') 0 0 no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 0;
  top: 0;
  background: transparent;
  &.open {
    z-index: 98;
    transition: all 0.3s ease;
    background: rgba(#000,0.7);
  }
}