@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
// and back up;

.gr_ttl_light{
  position: relative;
  img{
    width: 100%;
    height: auto;
  }
  .row{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
  }
}

.light{
  padding: 70px 0;
  h3{
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin: 0 0 30px;
    font-family: Arial;
    color: #333333;
    &:before{
      content:'';
      width: 41px;
      height: 41px;
      background: url(../images/ic_y.png) no-repeat;
      background-size: contain;
      display: inline-block;
      margin-right: 17px;
      vertical-align: middle;
    }
  }
  h4{
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 600;
    color: #3B8DCD;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 3px;
    span{
      color: #333333;
    }
  }
  picture{
    margin-bottom: 35px;
    img{
      width: 100%;
      height: auto;
    }
  }
  p{
    font-size: 1.5rem;
    color: #333333;
    line-height: 1.6;
    padding: 0 15px;
    span{
      color: #3B8DCD;
    }
  }
}
.light_bot{
  background: #F5F7F9;
}