@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
$blue: #3b8dcd;
$dark_blue: #044e80;
$pink: #e73c64;
.info {
  background: #ff7676;
  &_main {
    font-size: vw(22);
    line-height: vw(58);
    color: #fff;
    font-weight: bold;
    position: relative;
    padding: 0 0 0 vw(110);
    &::before {
      position: absolute;
      content: "";
      width: vw(25);
      height: vw(25);
      background: url('../images/icon_info.png') 0 0 no-repeat;
      background-size: contain;
      left: vw(63);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.slider {
  position: relative;
  .slick {
    &-slide img {
      width: 100%;
      height: auto;
    }
  }
  .slick-arrow {
    display: none;
  }

  .slick-dots {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: vw(-60);
    z-index: 20;
    display: flex;
    justify-content: center;
    background: #ccc;
    height: vw(64);
    align-items: center;
    li {
      width: vw(36);
      height: vw(8);
      background: #ffffff;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: vw(20);
      }
      &.slick-active {
        background: $blue;
      }
      button {
        display: none;
      }
    }
  }
}
.news {
  &_main {
    padding: vw(102) vw(40) vw(37);
    dl {
      display: flex;
      border: 1px solid #ccc;
      border-radius: 5px;
      dt {
        width: vw(148);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: $blue;
        border-radius: 5px;
        font-size: vw(22);
        line-height: 1;
        font-weight: 500;
      }
      dd {
        width: calc(100% - #{vw(148)});
        padding: vw(25);
        font-size: vw(26);
        line-height: 1.8;
        a {
          color: #000
        }
      }
    }
  }
}
.what {
  background: url('../images/bg_what.png') 0 0 no-repeat;
  background-size: cover;
  &_main {
    padding: vw(65) vw(40) 70px;
    h2 {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: vw(42);
      line-height: 1;
      font-weight: 500;
      color: #000;
      img {
        width: vw(267);
        height: auto;
      }
    }
    &_wrap {
      margin-top: vw(55);
      display: flex;
      flex-flow: row wrap;
      article {
        width: vw(327);
        background: #fff;
        border-radius: vw(5);
        overflow: hidden;
        border: 1px solid #ccc;
        box-shadow: 0px 1px 2px 0 rgba(#727272, 0.3);
        padding: 0 0 vw(25);
        display: flex;
        flex-flow: row wrap;
        &:not(:nth-child(2n)) {
          margin-right: vw(20);
        }
        &:not(:nth-child(-n+2)) {
          margin-top: vw(25);
        }
        figure {
          width: 100%;
          img {
            width: 100%;
            height: vw(150);
            object-fit: cover;
          }
        }
        h3 {
          text-align: center;
          font-size: vw(20);
          line-height: 1;
          font-weight: 500;
          margin-top: vw(25);
          width: 100%;
          letter-spacing: vw(3);
        }
        p {
          text-align: center;
          margin-top: vw(15);
          font-size: vw(35);
          line-height: 1;
          font-weight: 700;
          color: #e73c64;
          width: 100%;
        }
        .btn {
          display: flex;
          justify-content: center;
          margin-top: vw(30);
          align-self: flex-end;
          width: 100%;
          a {
            display: inline-flex;
            width: vw(280);
            height: vw(60);
            align-items: center;
            justify-content: center;
            color: $blue;
            font-size: vw(20);
            font-weight: 500;
            border: vw(2) solid $blue;
            border-radius: vw(5);
            position: relative;
            &::before {
              position: absolute;
              content: "";
              width: vw(9);
              height: vw(15);
              background: url('../images/arrow_blue.png') 0 0 no-repeat;
              background-size: contain;
              right: vw(15);
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        &:nth-of-type(1) {
          p {
            img {
              width: vw(230);
            }
          }
        }
        &:nth-of-type(2) {
          p {
            img {
              width: vw(193);
            }
          }
        }
        &:nth-of-type(3) {
          p {
            img {
              width: vw(233);
            }
          }
        }
        &:nth-of-type(4) {
          p {
            img {
              width: vw(225);
            }
          }
        }
        &:nth-of-type(5) {
          p {
            img {
              width: vw(271);
            }
          }
        }
        &:nth-of-type(6) {
          p {
            img {
              width: vw(206);
            }
          }
        }
      }
    }
  }
}
.rate {
  padding: vw(65) 0 0;
  &_ttl {
    p {
      font-size: vw(42);
      line-height: 1;
      font-weight: 500;
      letter-spacing: 3px;
      text-align: center;
    }
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: vw(55);
      em {
        display: inline-block;
        font-size: vw(29);
        line-height: 1;
        font-weight: 700;
        color: $blue;
        width: vw(150);
        height: vw(150);
        background: url('../images/circle_01.png') 0 0 no-repeat;
        background-size: contain;
        margin-right: vw(15);
        font-style: normal;
        text-align: center;
        padding: vw(35) 0 0;
        &::before {
          position: relative;
          content: attr(data-pre);
          font-size: vw(29);
          line-height: 1;
          font-weight: 700;
          color: $blue;
          display: inline-block;
          width: 100%;
        }
        span {
          font-size: vw(37)
        }
      }
      img {
        width: vw(468);
        height: auto;
      }
    }
  }
  &_intro {
    font-size: vw(26);
    line-height: 1.8;
    font-weight: 700;
    margin-top: vw(40);
    .blue {
      color: $blue;
    }
    .dark_blue {
      color: $dark_blue;
    }
  }
  &_wrap {
    margin-top: vw(148);
  }
  &_ar {
    border-radius: vw(5);
    overflow: hidden;
    &._blue {
      border: 1px solid $blue;
      h3 {
        position: relative;
        background: $blue;
        &::before {
          position: absolute;
          content: attr(data-im);
          width: vw(123);
          height: vw(123);
          display: flex;
          justify-content: center;
          align-items: center;
          background: url('../images/circle_02.png') 0 0 no-repeat;
          background-size: contain;
          font-size: vw(22);
          line-height: 1;
          letter-spacing: -1px;
          color: #fff;
          font-weight: 700;
          top: vw(-27);
          left: vw(25);
        }
      }
      .rate_ar_m_dl dl {
        &:nth-of-type(1) {
          dd {
            img {
              width: vw(69);
            }
          }
        }
        &:nth-of-type(2) {
          dd {
            img {
              width: vw(84);
            }
          }
        }
        &:nth-of-type(3) {
          dd {
            img {
              width: vw(75);
            }
          }
        }
      }
      .rate_ar_m_dl dl dt {
        background: #def3ff;
      }
      .rate_ar_m_dl dl dd figure figcaption span {
        color: $blue;
      }
    }
    &._darkblue {
      border: 1px solid $dark_blue;
      margin-top: vw(38);

      h3 {
        background: $dark_blue;
      }
      .rate_ar_m_dl dl {
        &:nth-of-type(1) {
          dd {
            img {
              width: vw(69);
            }
          }
        }
        &:nth-of-type(2) {
          dd {
            img {
              width: vw(84);
            }
          }
        }
        &:nth-of-type(3) {
          dd {
            img {
              width: vw(53);
            }
          }
        }
      }
      .rate_ar_m_dl dl dt {
        background: #9BB8CC;
        color: #fff;
      }
      .rate_ar_m_dl dl dd figure figcaption span {
        color: $dark_blue;
      }
    }
    h3 {
      text-align: center;
      font-size: vw(37);
      line-height: 1;
      font-weight: 500;
      color: #fff;
      letter-spacing: 2px;
      padding: vw(32) 0;

    }
    &_m {
      background: #fff;
      padding: vw(26) vw(34);
      figure {
        img {
          width: 100%;
          height: auto;
        }
      }
      p {
        margin-top: vw(33);
        text-align: center;
        img {
          width: vw(390);
        }
        em {
          font-style: normal;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          font-size: vw(97);
          line-height: 1;
          color: $pink;
          font-family: Arial;
          font-weight: bold;
          &::before {
            position: relative;
            content: attr(data-before);
            font-size: vw(30);
            line-height: 1;
            font-weight: 900;
            display: inline-block;
            writing-mode: vertical-lr;
            color: $pink;
            margin-right: vw(12);
            font-family: $notoJP;
            letter-spacing: vw(10);
          }
          &::after {
            content: attr(data-after);
            font-size: vw(47);
            line-height: 1;
            font-weight: 500;
            display: inline-block;
            color: $pink;
            margin-left: vw(12);
            font-family: $notoJP;
            letter-spacing: 5px;
          }
          span {
            font-size: vw(51);
            font-family: $notoJP;
            line-height: 1;
            color: $pink;
            font-weight: 500;
            align-self: flex-end;
            display: inline-block;
            padding: vw(25) 0 0 0;
            position: relative;
            margin-left: vw(12);
            &::before {
              position: absolute;
              content: attr(data-top);
              font-size: vw(15);
              line-height: 1;
              color: $pink;
              font-weight: 700;
              top: 0;
              left: 0;
            }
          }
        }

      }
      &_dl {
        display: flex;
        justify-content: space-between;
        margin-top: vw(35);
        dl {
          width: vw(158);
          &:not(:last-child) {
            dd figure::before {
              position: absolute;
              content: "";
              width: vw(20);
              height: vw(20);
              background: url('../images/icon_plus@2x.png') 0 0 no-repeat;
              background-size: contain;
              top: 50%;
              transform: translateY(-50%);
              right: vw(-50);
            }
          }
          dt {
            font-size: vw(17);
            line-height: 1;
            font-weight: 500;
            text-align: center;
            padding: vw(12) 0;
          }
          dd {
            margin-top: vw(25);
            padding-bottom: vw(25);
            figure {
              text-align: center;
              position: relative;
              img {
                max-width: 100%;
                width: auto;
                height: auto;
              }
              figcaption {
                font-size: vw(22);
                line-height: 1.8;
                font-weight: 500;
                text-align: center;
                margin-top: vw(20);
                span {
                  display: block;
                  font-weight: 900;
                }
              }
            }
          }
        }
      }
      &_btn {
        display: flex;
        justify-content: center;
        padding: vw(30) 0 0;
        border-top: 1px solid #eee;
        a {
          width: 100%;
          height: vw(100);
          align-items: center;
          font-size: vw(30);
          line-height: 1;
          color: #fff;
          font-weight: 500;
          background: $pink;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          position: relative;
          &::before {
            position: absolute;
            content: '';
            width: vw(12);
            height: vw(21);
            background: url('../images/arr_right_hv.png') 0 0 no-repeat;
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            right: vw(30);
          }
        }
      }
    }
  }
  &_real {
    padding: vw(52) 0;
    figure {
      text-align: center;
      img {
        width: 100%;
      }
    }
    &_btn {
      display: flex;
      justify-content: center;
      margin-top: vw(45);
      a {
        width: 100%;
        height: vw(100);
        align-items: center;
        font-size: vw(30);
        line-height: 1;
        color: #fff;
        font-weight: 500;
        border-radius: 5px;
        border: vw(2) solid $blue;
        border-radius: vw(5);
        display: flex;
        justify-content: center;
        position: relative;
        color: $blue;
        &::before {
          position: absolute;
          content: '';
          width: vw(12);
          height: vw(21);
          background: url('../images/arr_right.png') 0 0 no-repeat;
          background-size: contain;
          top: 50%;
          transform: translateY(-50%);
          right: vw(30);
        }
      }
    }
  }
  &_price {
    padding: vw(56) 0 vw(52);
    background: #e3f2fc;
    font-size: vw(22);
    line-height: 1.8;
    font-weight: 500;
    color: #9A9A9A;
    p {
      + p {
        margin-top: vw(40);
      }
      span {
        color: $blue;
      }
    }
  }
  &_compare {
    padding: vw(110) vw(40) vw(90);
    background: #f5f7f9;
    &_wrap {
      border: 1px solid #ccc;
      border-radius: 4px;
      background: #fff;
      padding: vw(93) vw(30) vw(72);
      position: relative;
    }
    h4 {
      position: absolute;
      font-size: vw(32);
      line-height: 1;
      color: #fff;
      font-weight: 500;
      letter-spacing: 2px;
      display: inline-block;
      padding: vw(15) 0 vw(31);
      background: url('../images/ribbon_sp.png') 0 0 no-repeat;
      background-size: contain;
      left: 50%;
      transform: translateX(-50%);
      top: vw(-31);
      width: vw(456);
      text-align: center;
    }
    figure {
      text-align: center;
      img {
        width: 100%;
        height: auto;
      }
      figcaption {
        font-size: vw(26);
        line-height: 1.8;
        font-weight: 500;
        margin-top: vw(40);
        text-align: left;
        letter-spacing: vw(3);
        span {
          color: $blue;
          font-weight: 700;
          display: block;
        }
      }
    }
  }
}
.product {
  background: url('../images/bg_product.png') center center no-repeat;
  background-size: cover;
  padding: vw(65) 0 vw(70);
  &_main {
    h2 {
      text-align: center;
      color: #fff;
      font-size: vw(42);
      line-height: 1;
      font-weight: 500;
    }
    p {
      text-align: left;
      font-size: vw(26);
      line-height: 1.8;
      color: #fff;
      font-weight: 500;
      margin-top: vw(62);
      letter-spacing: vw(2);
    }

  }
  &_info {
    margin-top: vw(50);
    figure {
      text-align: center;
      img {
        max-width: 70%;
        width: auto;
        height: auto;
      }
    }
    article {
      h3 {
        font-size: vw(52);
        color: #fff;
        font-weight: 700;
        font-family: 'Arial';
        text-align: center;
        line-height: 1;
        margin-top: vw(25);
        text-align: center;
      }
      p {
        font-size: vw(26);
        line-height: 1;
        font-weight: 700;
        color: #fff;
        text-align: center;
        margin-top: vw(35);
      }
      ul {
        display: flex;
        margin-top: vw(52);
        li {
          width: vw(123);
          height: vw(110);
          border-radius: vw(5);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: vw(17);
          line-height: 1;
          font-weight: 400;
          position: relative;
          &:not(:last-child) {
            margin-right: vw(12);
          }
          &.speed {
            font-size: vw(37);
            line-height: 1;
            color: #fff;
            font-family: 'Arial';
            font-weight: 700;
            background: $dark_blue;
            &::before {
              position: relative;
              content: attr(data-before);
              font-size: vw(18);
              line-height: 1;
              color: #fff;
              margin-bottom: vw(10);
              font-family: $notoJP;
              display: inline-flex;
            }
            &::after {
              position: relative;
              content: attr(data-after);
              font-size: vw(24);
              line-height: 1;
              color: #fff;
              margin-top: vw(6);
              display: inline-flex;
            }
          }
          @each $cl,$w,$h,$mg in ('quality',38,36,6),('bluetooth',22,42,6),('pin',56,29,15),('signal',50,35,14) {
            &.#{$cl} {
              font-size: vw(17);
              line-height: 1;
              font-weight: 400;
              background: #fff;
              span {
                order: 3;
              }
              &::before {
                order: 1;
                position: relative;
                content: "";
                width: vw($w);
                height: vw($h);
                background: url('../images/#{$cl}.png') 0 0 no-repeat;
                background-size: contain;
                display: inline-flex;
                margin-bottom: vw($mg);
              }
              &::after {
                order: 2;
                position: relative;
                content: attr(data-after);
                font-size: vw(17);
                line-height: 1;
                font-weight: 400;
                display: inline-flex;
                margin-bottom: vw(6);
              }
            }
          }
        }
      }
      .btn {
        margin-top: vw(57);
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: vw(30);
          color: $blue;
          border: vw(2) solid $blue;
          border-radius: vw(4);
          width: 100%;
          height: vw(100);
          background: #fff;
          position: relative;
          &::after {
            position: absolute;
            content: '';
            width: vw(8*1.5);
            height: vw(14*1.5);
            background: url(../images/arr_right.png) 0 0 no-repeat;
            -moz-background-size: contain;
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            right: vw(30);
          }
        }
      }
    }
  }
  .product_list {
    .gr_pro {
      margin-top: vw(70);
      article {
        background-color: #fff;
        border-radius: vw(7);
        position: relative;
        &:not(:last-child) {
          margin-bottom: vw(50);
        }
        &:nth-of-type(1) {
          figure {
            img {
              width: vw(320);
            }
          }
        }
        &:nth-of-type(2) {
          figure {
            img {
              width: vw(270);
            }
          }
        }
        &:nth-of-type(3) {
          figure {
            img {
              width: vw(340);
            }
          }
        }
        // a {
        //   display: block;
        //   position: relative;
        //   height: 100%;
        // }
        .rec {
          font-size: vw(24);
          line-height: 1;
          background: url(../images/bkg_gold.png);
          background-size: contain;
          width: vw(134);
          height: vw(134);
          color: #fff;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: vw(-50);
          left: vw(17);
          z-index: 9;
        }
        figure {
          text-align: center;
          background: url(../images/bkg_pr.png) no-repeat;
          background-size: cover;
          height: vw(337);
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: vw(20);
          position: relative;
          figcaption {
            display: flex;
            position: absolute;
            top: vw(30);
            right: vw(30);
            em {
              width: vw(83);
              height: vw(83);
              border-radius: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              font-style: normal;
              flex-direction: column;
              line-height: 1;
              font-weight: 500;
              font-size: vw(24);
              &:not(:last-child) {
                margin-right: vw(10);
              }
              span {
                font-size: vw(16);
                line-height: 1.3;
                font-weight: 500;
                display: block;
              }
              ins {
                font-size: vw(10);
                line-height: 1;
                color: #9A9A9A;
                position: absolute;
                bottom: vw(8);
                left: 50%;
                transform: translateX(-50%);
                text-decoration: none;
              }
              &.bg_blue {
                background-color: #59A9E0;
                color: #fff;
              }
              &.bg_white {
                background-color: #fff;
                color: #333333;
              }
              &.bg_blue_d {
                background-color: #044E80;
                color: #fff;
              }
            }
          }
        }
        .art_bottom {
          padding: vw(58) vw(30) vw(42);
          position: relative;
        }
        .btt_art {
          .txt_ctn {
            font-size: vw(21);
            color: #fff;
            font-weight: 500;
            background-color: #333333;
            line-height: 1;
            padding: vw(10) vw(40);
            border-radius: 30px;
            font-family: 'Arial', sans-serif;
            font-weight: 500;
            position: absolute;
            top: vw(-20);
            left: 50%;
            transform: translateX(-50%);
          }
          h4 {
            font-size: vw(42);
            line-height: 1;
            color: #333;
            text-align: center;
            margin-bottom: vw(25);
            font-weight: bold;
            font-family: 'Arial';
            letter-spacing: vw(3);
            strong {
              font-size: vw(42);
              display: inline-block;
              margin-left: vw(10);
              font-weight: 700;
            }
          }
          p {
            font-size: vw(26);
            line-height: vw(36);
            text-align: center;
            color: #666666;
          }
        }
        .corr_area {
          background-color: #F5F7F9;
          border-radius: vw(5);
          padding: vw(26) vw(12) vw(28);
          margin-top: vw(30);
          .txt_corr {
            font-size: vw(26);
            line-height: 0;
            border-bottom: 1px dotted #CCCCCC;
            width: 100%;
            color: #000;
            font-weight: 500;
            display: inline-block;
            text-align: center;
            ins {
              text-decoration: none;
              background-color: #F5F7F9;
              padding: 0 35px;
            }
          }
          .l_logo {
            font-size: 0;
            text-align: center;
            margin-top: vw(20);
            li {
              display: inline-block;
              &:not(:last-child) {
                margin-right: vw(40);
              }
              img {
                width: vw(250);
              }
            }
          }
        }
        .btn_link {
          width: 100%;
          height: vw(100);
          font-size: vw(30);
          line-height: 1;
          color: #333;
          border: vw(2) solid #333;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border-radius: vw(5);
          font-weight: 500;
          margin: vw(20) auto 0;
          transform: perspective(1px) translateZ(0);
          transition-property: color;
          transition-duration: 0.3s;
          &:after {
            content: "";
            background: url(../images/arr_black.png) no-repeat;
            background-size: contain;
            width: vw(13);
            height: vw(23);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: vw(30);
          }
        }
      }
    }
    .product_btn {
      margin-top: vw(47);
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: vw(30);
        color: $blue;
        border: vw(2) solid $blue;
        border-radius: vw(4);
        width: 100%;
        height: vw(100);
        background: #fff;
        position: relative;
        &::after {
          position: absolute;
          content: '';
          width: vw(8*1.5);
          height: vw(14*1.5);
          background: url(../images/arr_right.png) 0 0 no-repeat;
          -moz-background-size: contain;
          background-size: contain;
          top: 50%;
          transform: translateY(-50%);
          right: vw(30);
        }
      }
    }
    > em {
      font-size: vw(22);
      line-height: vw(35);
      color: #9A9A9A;
      display: block;
      margin: vw(65) 0 vw(80);
      font-style: normal;
      span {
        color: #3b8dcd;
      }
    }
  }
}
.flow {
  padding: vw(71) 0 vw(77);
  &_main {
    h2 {
      text-align: center;
      font-size: vw(42);
      line-height: 1;
      font-weight: 500;
      margin-bottom: 40px;
    }
    &_w {
      counter-reset: fi;
      figure {
        position: relative;
        counter-increment: fi;
        padding: vw(30) 0 vw(80);
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:not(:last-child) {
          position: relative;
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: vw(31);
            background: url('../images/link_arrow_sp.png') 0 0 no-repeat;
            background-size: contain;
            left: 0;
            bottom: 0;
          }
        }
        &:nth-of-type(1) {
          padding-left: vw(90);
          img {
            width: vw(183);
          }
          &::before {
            top: vw(-15);
          }
        }
        &:nth-of-type(2) {
          padding-left: vw(83);
          padding-right: vw(60);
          img {
            width: vw(187);
          }
          &::before {
            top: vw(30);
          }
        }
        &:nth-of-type(3) {
          padding-left: vw(80);
          img {
            width: vw(210);
          }
          &::before {
            top: vw(-10);
          }
        }
        &::before {
          position: absolute;
          content: counter(fi);
          width: vw(113);
          height: vw(84);
          background: url('../images/bg_number.png') 0 0 no-repeat;
          background-size: contain;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: vw(45);
          line-height: 1;
          font-weight: bold;
          color: #fff;
          font-family: 'Arial';
          left: 0;

        }
        figcaption {
          font-size: vw(26);
          line-height: 1.8;
          font-weight: 400;
          text-align: center;
          letter-spacing: vw(3);
          span {
            display: block;
            font-size: vw(35);
            font-weight: 700;
          }
        }
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: vw(30);
        color: $blue;
        border: 1px solid $blue;
        border-radius: 4px;
        width: 100%;
        height: vw(100);
        background: #fff;
        position: relative;
        &::after {
          position: absolute;
          content: '';
          width: vw(8*1.5);
          height: vw(14*1.5);
          background: url(../images/arr_right.png) 0 0 no-repeat;
          -moz-background-size: contain;
          background-size: contain;
          top: 50%;
          transform: translateY(-50%);
          right: vw(30);
        }
      }
    }
  }
}
.faq {
  background: #eaeff4;
  padding: vw(60) 0 vw(50);
  &_main {
    h2 {
      text-align: center;
      font-size: vw(42);
      line-height: 1;
      font-weight: 500;
      margin-bottom: vw(40);
    }
    &_w {
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow: hidden;
      dl{
        background: #fff;
        &:not(:last-child) {
          dt {
            border-bottom: vw(2) solid #ccc;
          }
        }
        dt{
          font-size: vw(26);
          line-height: 1.5;
          position: relative;
          font-weight: 500;
          letter-spacing: vw(3);
          cursor: pointer;
          padding: vw(30) vw(70) vw(30) vw(95);
          &:before{
            content:"Q";
            font-size: vw(26);
            font-weight: bold;
            font-family: 'Arial', sans-serif;
            color: #fff;
            width: vw(48);
            height: vw(48);
            border-radius: 100%;
            background-color: #3B8DCD;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: vw(30);
            left: vw(30);
          }
          &:after{
            content:"";
            background: url(../images/icon_plus.png) no-repeat;
            background-size: contain;
            width: vw(21);
            height: vw(21);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: vw(25);
            transition: all 0.3s ease;
          }
          &.active{
            &:after{
              background: url(../images/icon_minus.png) no-repeat;
              background-size: contain;
              height: 2px;
            }
          }
        }
        dd{
          background-color: #FFFAFD;
          position: relative;
          font-size: vw(26);
          letter-spacing: vw(3);
          line-height: 1.5;
          height: 0;
          overflow: hidden;
          transition: all 0.3s ease;
          .dd_h{
            padding: vw(30) vw(70) vw(30) vw(95);
          }
          &:before{
            content:"A";
            font-size: vw(26);
            font-weight: bold;
            font-family: 'Arial', sans-serif;
            color: #fff;
            width: vw(48);
            height: vw(48);
            border-radius: 100%;
            background-color: #E73C64;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: vw(30);
            left: vw(30);
          }
        }
      }
    }
    .btn {
      margin-top: vw(44);
      display: flex;
      justify-content: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: vw(30);
        color: $blue;
        border: vw(2) solid $blue;
        border-radius: vw(4);
        width: 100%;
        height: vw(100);
        background: #fff;
        position: relative;
        &::after {
          position: absolute;
          content: '';
          width: vw(8*1.5);
          height: vw(14*1.5);
          background: url(../images/arr_right.png) 0 0 no-repeat;
          -moz-background-size: contain;
          background-size: contain;
          top: 50%;
          transform: translateY(-50%);
          right: vw(30);
        }
      }
    }
  }
}