@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl_faq {
  img{
    width: 100%;
    height: auto;
  }
}
.st_faq{
  padding: vw(62) 0 vw(100);
  h3{
    font-size: vw(42);
    line-height: 1;
    text-align: center;
    margin-bottom: vw(60);
  }
  .txt_top{
    font-size: vw(26);
    line-height: vw(45);
    text-align: left;
    margin-bottom: vw(60);
  }
  .list_anchor{
    display: flex;
    flex-flow: row wrap;
    margin-left: vw(-28);
    li{
      width: calc(50% - #{vw(28)});
      margin: 0 0 vw(28) vw(28);
      a{
        font-size: vw(30);
        line-height: 1;
        color: #3B8DCD;
        font-weight: 500;
        position: relative;
        width: 100%;
        height: vw(153);
        border: vw(3) solid #3B8DCD;
        display: block;
        text-align: center;
        padding-top: vw(40);
        border-radius: vw(7);
        transform: perspective(1px) translateZ(0);
        transition-property: color;
        transition-duration: 0.3s;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #3B8DCD;
          transform: scaleX(0);
          transform-origin: 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
          transition-duration: 0.3s;
        }
        &:after{
          content:"";
          background: url(../images/arr_down.png) no-repeat;
          background-size: contain;
          width: vw(24);
          height: vw(12);
          position: absolute;
          bottom: vw(25);
          left: 50%;
          transform: translateX(-50%);
          transition: bottom .5s ease-out
        }
        &:hover{
          color: #fff;
          &:before{
            transform: scaleX(1);
          }
          &:after{
            bottom: vw(15);
            background: url(../images/arr_down_hv.png) no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  .gr_faq{
    margin-top: vw(85);
    article{
      &:not(:last-child){
        margin-bottom: vw(75);
      }
      h3{
        text-align: left;
        font-size: vw(36);
        color: #3B8DCD;
        font-weight: 500;
        border-bottom: vw(3) solid #3B8DCD;
        padding-bottom: vw(20);
        margin-bottom: vw(50);
      }
      .main_art{
        dl{
          /* &:not(:last-child){
            margin-bottom: 35px;
          } */
          dt{
            font-size: vw(26);
            line-height: vw(45);
            padding: 0 vw(80);
            position: relative;
            font-weight: 500;
            cursor: pointer;
            margin-bottom: vw(20);
            &:before{
              content:"Q";
              font-size: vw(28);
              font-weight: bold;
              font-family: 'Arial', sans-serif;
              color: #fff;
              width: vw(51);
              height: vw(51);
              border-radius: 100%;
              background-color: #3B8DCD;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 0;
              left: 0;
            }
            &:after{
              content:"";
              background: url(../images/icon_plus.png) no-repeat;
              background-size: contain;
              width: vw(30);
              height: vw(30);
              position: absolute;
              top: vw(10);
              right: 0;
              transition: all 0.3s ease;
            }
            &.active{
              &:after{
                background: url(../images/icon_minus.png) no-repeat;
                background-size: contain;
                height: vw(5);
                top: vw(22);
              }
            }
          }
          dd{
            margin: 0 0 vw(20);
            position: relative;
            font-size: vw(26);
            line-height: vw(45);
            height: 0;
            overflow: hidden;
            transition: all 0.3s ease;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            .dd_h{
              background-color: #FFFAFD;
              padding: vw(20);
              max-width: vw(610);
            }
            &:before{
              content:"A";
              font-size: vw(28);
              font-weight: bold;
              font-family: 'Arial', sans-serif;
              color: #fff;
              width: vw(51);
              height: vw(51);
              border-radius: 100%;
              background-color: #E73C64;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: vw(10);
              left: 0;
            }
          }
        }
      }
    }
  }
}