.st_terminal{
  background-color: #F5F7F9;
  padding: 70px 0;
  h3{
    font-size: rem(30);
    color: #333;
    line-height: 1;
    margin-bottom: 55px;
    text-align: center;
  }
  .gr_art{
    display: flex;
    align-items: center;
    margin-left: -40px;
  }
  article{
    border-radius: 8px;
    box-shadow: 0 2px 7px 2px rgba(13, 4, 8, 0.1);
    width: calc(50% - 40px);
    margin-left: 40px;
    display: flex;
    figure{
      background: linear-gradient(90deg, rgba(245,247,250,1) 0%, rgba(240,243,248,1) 37%, rgba(199,211,228,1) 100%);
      width: 202px;
      height: 230px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      &.img_w_05{
        img{
          width: 140px;
          height: 102px;
        }
      }
      &.img_tri{
        img{
          width: 165px;
          height: 106px;
        }
      }
      &.img_l_01{
        img{
          width: 150px;
          height: 130px;
        }
      }
    }
    .main_art{
      width: calc(100% - 202px);
      padding: 18px 25px;
      background-color: #fff;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      em{
        font-size: rem(9);
        color: #fff;
        background-color: #3B8DCD;
        line-height: 1;
        padding: 5px 15px;
        font-style: normal;
        border-radius: 50px;
        display: inline-block;
        margin-bottom: 10px;
      }
      h4{
        font-size: rem(15);
        line-height: 1.2;
        font-family: 'Arial', sans-serif;
        color: #333333;
        text-align: center;
        font-weight: bold;
        min-height: 57px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;
        strong{
          font-size: rem(35);
          display: block;
        }
      }
      p{
        background-color: #F5F7F9;
        border-radius: 5px;
        color: #3B8DCD;
        padding: 8px 20px;
        .txt_f{
          font-size: rem(14);
          line-height: 1;
          margin-right: 3px;
        }
        .txt_m{
          font-size: rem(26);
          line-height: 1;
          font-family: 'Arial', sans-serif;
          font-weight: bold;
          margin-right: 3px;
          small{
            font-size: rem(17);
          }
        }
        ins{
          text-decoration: none;
          font-size: rem(8);
        }
      }
      .link{
        width: 100%;
        height: 40px;
        border: 1px solid #3B8DCD;
        border-radius: 5px;
        color: #3B8DCD;
        font-size: rem(15);
        font-weight: 500;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: perspective(1px) translateZ(0);
        transition-property: color;
        transition-duration: 0.3s;
        margin-top: 10px;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #3B8DCD;;
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 0.25s;
          transition-timing-function: ease-out;
        }
        &:after {
          content: "";
          background: url(../../images/arr_right.png) no-repeat;
          background-size: contain;
          width: 6px;
          height: 10px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 13px;
        }
        &:hover{
          color: #fff;
          &:before{
            transform: scaleX(1);
            transition-timing-function: cubic-bezier(0);
          }
          &:after {
            background: url(../../images/arr_right_hv.png) no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}