.st_terminal{
  background-color: #F5F7F9;
  padding: vw(80) 0;
  h3{
    font-size: vw(36);
    color: #333;
    line-height: 1;
    margin-bottom: vw(65);
    text-align: center;
  }
  .gr_art{
    display: flex;
    align-items: center;
    margin-left: vw(-23);
  }
  article{
    border-radius: vw(8);
    box-shadow: 0 2px 7px 2px rgba(13, 4, 8, 0.1);
    width: calc(50% - #{vw(23)});
    margin-left: vw(23);
    a{
      display: block;
      height: 100%;
    }
    figure{
      background: linear-gradient(90deg, rgba(245,247,250,1) 0%, rgba(240,243,248,1) 37%, rgba(199,211,228,1) 100%);
      height: vw(205);
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: vw(8);
      border-top-right-radius: vw(8);
      &.img_w_05{
        img{
          width: vw(170);
          height: vw(128);
        }
      }
      &.img_tri{
        img{
          width: vw(190);
          height: vw(125);
        }
      }
      &.img_l_01{
        img{
          width: vw(142);
          height: vw(156);
        }
      }
    }
    .main_art{
      padding: vw(22);
      background-color: #fff;
      border-bottom-left-radius: vw(8);
      border-bottom-right-radius: vw(8);
      em{
        font-size: vw(15);
        color: #fff;
        background-color: #3B8DCD;
        line-height: 1;
        padding: vw(8) vw(20);
        font-style: normal;
        border-radius: vw(50);
        display: inline-block;
        margin-bottom: vw(15);
      }
      h4{
        font-size: vw(21);
        line-height: 1.2;
        font-family: 'Arial', sans-serif;
        color: #333333;
        text-align: center;
        font-weight: bold;
        min-height: vw(79);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: vw(27);
        strong{
          font-size: vw(47);
          display: block;
        }
      }
      p{
        background-color: #F5F7F9;
        border-radius: vw(7);
        color: #3B8DCD;
        padding: vw(12) vw(30);
        .txt_f{
          font-size: vw(17);
          line-height: 1;
          margin-right: vw(10);
        }
        .txt_m{
          font-size: vw(31);
          line-height: 1;
          font-family: 'Arial', sans-serif;
          font-weight: bold;
          margin-right: vw(10);
          small{
            font-size: vw(21);
          }
        }
        ins{
          text-decoration: none;
          font-size: vw(10);
        }
      }
      .link{
        width: 100%;
        height: vw(60);
        border: vw(2) solid #3B8DCD;
        border-radius: vw(5);
        color: #3B8DCD;
        font-size: vw(20);
        font-weight: 500;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: vw(15);
        &:after {
          content: "";
          background: url(../../images/arr_right.png) no-repeat;
          background-size: contain;
          width: vw(10);
          height: vw(16);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: vw(15);
        }
      }
    }
  }
}