$blue: #3b8dcd;
$dark_blue: #044e80;
$pink: #e73c64;
.detail {
  background: #f5f7f9;
  &_wrap {
    position: relative;
    padding: 65px 0 55px;
    .breadcrumb {
      li {
        color: #000;
        a {
          color: #000;
        }
      }
    }
  }
  &_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_left {
    width: calc(100% - 400px);
    &[data-color="color_01"] {
      .gallery_large,.gallery_thumb {
        figure {
          img{
            &:not(:nth-of-type(1)){
              display: none;
            }
          }
        }
      }
    }
    &[data-color="color_02"] {
      .gallery_large,.gallery_thumb {
        figure {
          img:not(:nth-of-type(2)){
            display: none;
          }
        }
      }
    }
    .gallery {
      &_large {
        figure {
          text-align: center;
          img {
            max-width: 100%;
            width: auto;
            height: auto;
            display: inline-block;
          }
        }
      }
      &_control {
        text-align: center;
        > ul {
          width: 100px;
          margin-right: 20px;
          height: 38px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          transform: translateY(-7px);
          li {
            cursor: pointer;
            border-radius: 50%;
            font-size: 0;
            &.active {
              border: 2px solid $blue;
            }
            &:not(:last-child) {
              margin-right: 10px;
            }
          }
        }
      }
      &_thumb {
        width: 400px;
        display: inline-block;
        .slick-slide {
          padding: 0 5px;
        }
        .slick-current {
          figure {
            border: 1px solid $blue;
          }
        }
        figure {
          border: 1px solid #ccc;
          padding: 5px;
          height: 38px;
          width: 70px!important;
          display: flex!important;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          img {
            width: auto;
            height: 95%;
            display: inline-block;
          }
        }
      }
    }
  }
  &_right {
    width: 370px;
    h4 {
      font-size: 3.2rem;
      line-height: 1;
      font-family: 'Arial';
      color: #000;
      font-weight: 700;
      margin-bottom: 20px;
      span {
        font-size: 7rem;
        line-height: 1;
        font-family: 'Arial';
        color: #000;
        font-weight: 700;
        margin-bottom: 10px;
        display: block;
      }
    }
    > p {
      font-size: 1.4rem;
      line-height: 2.4rem;
      font-weight: 500;
    }
    .corr_area {
      background-color: #fff;
      border-radius: 3px;
      padding: 8px 12px 10px;
      margin-top: 16px;
      .txt_corr {
        font-size: rem(12);
        line-height: 0;
        border-bottom: 1px dotted #CCCCCC;
        width: 100%;
        color: #000;
        font-weight: 500;
        display: inline-block;
        text-align: center;
        ins {
          text-decoration: none;
          background-color: #fff;
          padding: 0 35px;
        }
      }
      .l_logo {
        font-size: 0;
        text-align: center;
        margin-top: 10px;
        li {
          display: inline-block;
          &:not(:last-child) {
            margin-right: 12px;
          }
          img {
            width: 158px;
          }
        }
      }
      p {
        text-align: center;
        a {
          display: inline-block;
          font-size: 1.2rem;
          line-height: 1;
          font-weight: 500;
          color: $blue;
          position: relative;
          padding: 0 17px 0 0;
          margin-top: 10px;
          &::after {
            position: absolute;
            content: "";
            width: 6.5px;
            height: 10.5px;
            background: url('../../images/arr_right.png') 0 0 no-repeat;
            background-size: contain;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    ._info {
      display: flex;
      margin-top: 6px;
      li {
        width: 68px;
        height: 61px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        line-height: 1;
        font-weight: 400;
        position: relative;
        &:not(:last-child) {
          margin-right: 7px;
        }
        &.speed {
          font-size: 2rem;
          line-height: 1;
          color: #fff;
          font-family: 'Arial';
          font-weight: 700;
          background: $blue;
          &::before {
            position: relative;
            content: attr(data-before);
            font-size: 1rem;
            line-height: 1;
            color: #fff;
            margin-bottom: 3px;
            font-family: $notoJP;
            display: inline-flex;
          }
          &::after {
            position: relative;
            content: attr(data-after);
            font-size: 1.3rem;
            line-height: 1;
            color: #fff;
            margin-top: 3px;
            display: inline-flex;
          }
        }
        @each $cl,$w,$h,$mb in ('quality',38,36,8),('bluetooth',22,42,6),('pin',56,29,13),('signal',50,35,12) {
          &.#{$cl} {
            font-size: 1rem;
            line-height: 1;
            font-weight: 400;
            background: #fff;
            span {
              order: 3;
            }
            &::before {
              order: 1;
              position: relative;
              content: "";
              width: #{$w/2}px;
              height: #{$h/2}px;
              background: url('../../images/#{$cl}.png') 0 0 no-repeat;
              background-size: contain;
              display: inline-flex;
              margin-bottom: #{$mb}px;
            }
            &::after {
              order: 2;
              position: relative;
              content: attr(data-after);
              font-size: 1rem;
              line-height: 1;
              font-weight: 400;
              display: inline-flex;
              margin-bottom: 3px;
            }
          }
        }
      }
    }
    .order {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      span {
        width: calc(100% - 290px);
        font-size: 2rem;
        line-height: 1.5;
        color: $pink;
        text-align: center;
        display: inline-flex;
        font-weight: 700;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 55px;
        border-radius: 5px;
        font-size: 1.7rem;
        line-height: 1;
        font-weight: 500;
        color: #fff;
        position: relative;
        transform: translateZ(0);
        background: $pink;
        border: 1px solid $pink;
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #fff;;
          transform: scaleX(0);
          transform-origin: 50%;
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }
        &::after {
          position: absolute;
          content: "";
          width: 8px;
          height: 14px;
          background: url('../../images/arr_right_hv.png') 0 0 no-repeat;
          background-size: contain;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }
        &:hover {
          color: $pink;
          &::before {
            transform: scaleX(1);
          }
          &::after {
            background: url('../../images/arr_white_hv.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}