.product_tab{
	padding-top: vw(70);
	&_head{
		margin-bottom: vw(60);
		display: flex;
		justify-content: space-between;
		align-items: center;
		li{
			a{
	        width: vw(328);
	        height: vw(90);
	        display: block;
	        text-align: center;
	        font-size: vw(30);
	        line-height: 1;
	        border: 2px solid #CCCCCC;
	        border-radius: vw(5);
	        font-weight: 500;
	        display: flex;
	        justify-content: center;
	        outline: none;
	        letter-spacing: vw(3);
	        align-items: center;
	        color: #CCCCCC;
	        &.selected{
	          color: #fff;
	          background: url(../images/bkg_btn_sp.png) no-repeat;
	          background-size: cover;
	          border: none;
	          height: vw(115);
	          margin-top: vw(15);
	          padding-bottom: vw(20);
	        }
	      }
		}
	}
	.tabContent{
		h3{
			font-size: vw(42);
			line-height: 1.5;
			color: #3B8DCD;
			text-align: center;
			margin-bottom: vw(75);
			font-weight: bold;
			letter-spacing: vw(3);
			span{
				font-family: Arial;
			}
		}
		&.hide{
	      display: none;
    }
    .tab_ct{
    	display: flex;
    	align-items: center;
    	justify-content: space-between;  
    	flex-wrap: wrap; 	
    	margin-bottom: vw(75);
    	picture{
    		order: 1;
    		margin: vw(35) 0;
    		img{
    			width: 100%;
    		}
    	}
    	h4{
    		font-size: vw(31);
		    line-height: 1.5;
		    border-bottom: vw(3) solid #3B8DCD;
		    color: #3B8DCD;
		    font-weight: 600;
		    padding-bottom: vw(15);
		    margin-bottom: vw(35);
		    width: 100%;
		    letter-spacing: vw(3);
    	}
    	span{
    		display: block;
    		color: #9A9A9A;
		    font-size: vw(22);
		    line-height: 1.6;
		    text-align: justify;
    	}
    	dl{
    		order: 2;
				dd{
					font-size: vw(26);
					line-height: 2;
					color: #333;
				}
    	}
    }
	}
}
