table,th,td{
  border-collapse: collapse;
  border: 1px solid #BBBBBB;
  width: 100%;
}
.tbl{
  border-radius: vw(7);
  th{
    font-size: vw(28);
    line-height: vw(42);
    font-weight: 500;
    width: vw(250);
    text-align: left;
    padding: vw(20) vw(30);
    background-color: #EFEFEF;
  }
  td{
    width: calc(100% - #{vw(250)});
    padding: vw(20) vw(30);
    font-size: vw(26);
    line-height: vw(45);
  }
}
.list{
  counter-reset: li;
  margin: vw(30) 0 vw(120);
  li{
    font-size: vw(22);
    line-height: vw(35);
    color: #9A9A9A;
    position: relative;
    &:first-of-type{
      padding-left:0;
      margin-bottom: vw(15);
      &:before{
        content:none;
      }
    }
    &:before{
      counter-increment: li;
      content: "※"  counter(li);
    }
  }
}