@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl_about {
  img{
    width: 100%;
    height: auto;
  }
}

.st_wimax {
  h3 {
    font-size: rem(35);
    line-height: 42px;
    text-align: center;
    margin: 0 0 30px;
    color: #3B8DCD;
  }
  .bx_img{
    position: relative;
    em {
      width: 210px;
      height: 37px;
      font-size: rem(22);
      line-height: 1;
      color: #fff;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3B8DCD;
      position: absolute;
      top: 50px;
      left: 40px;
      font-style: normal;
    }
  }
  p {
    font-size: rem(15);
    line-height: 25px;
    color: #333333;
    margin-top: 25px;
    span {
      color: #3B8DCD;
    }
  }
}

.st_wimax_top {
  padding: 60px 0 70px;
}

.st_wimax_ct {
  padding: 60px 0 70px;
  background-color: #F5FBFF;
}

.st_wimax_bottom {
  padding: 60px 0 70px;
  background-color: #F5FBFF;
}

.st_wimax_link {
  padding: 78px 0 38px;
  h3 {
    font-size: rem(35);
    line-height: 42px;
    text-align: center;
    margin: 0 0 60px;
    color: #3B8DCD;
  }
  .wrap_art {
    counter-reset: article;
    display: flex;
    flex-flow: row wrap;
    margin-left: -50px;
    article {
      box-shadow: 0 2px 7px 2px rgba(13, 4, 8, 0.1);
      border-radius: 8px;
      position: relative;
      width: calc(50% - 50px);
      margin: 0 0 40px 50px;
      span {
        font-size: rem(13);
        line-height: 1;
        color: #3B8DCD;
        background: url(../images/bkg_sp.png) no-repeat;
        background-size: contain;
        width: 87px;
        height: 87px;
        position: absolute;
        top: -22px;
        left: -32px;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        font-weight: 500;
        padding-top: 22px;
        &:before {
          counter-increment: article;
          content: "0" counter(article);
          font-size: rem(30);
          line-height: 1;
          font-weight: bold;
          position: absolute;
          top: 35px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      h4 {
        background-color: #3B8DCD;
        font-size: rem(20);
        line-height: 30px;
        color: #fff;
        font-weight: normal;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        text-align: center;
        padding: 20px 0;
        ins {
          font-size: rem(9);
          text-decoration: none;
        }
      }
      .main_art {
        padding: 30px 38px 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &_top {
          min-height: 230px;
          figure {
            text-align: center;
            margin-bottom: 20px;
            img {
              width: 100%;
              height: auto;
            }
          }
          p {
            font-size: rem(15);
            line-height: 25px;
          }
          em {
            font-size: rem(12);
            font-style: normal;
          }
        }
        .link {
          width: 300px;
          height: 50px;
          border: 2px solid #3B8DCD;
          font-size: rem(16);
          line-height: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          font-weight: 500;
          color: #3B8DCD;
          margin: 30px auto 0;
          position: relative;
          transform: perspective(1px) translateZ(0);
          transition-property: color;
          transition-duration: 0.3s;
          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #3B8DCD;
            transform: scaleX(0);
            transform-origin: 50%;
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
          }
          &:after {
            content: "";
            background: url(../images/arr_right.png) no-repeat;
            background-size: contain;
            width: 8px;
            height: 14px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 18px;
          }
          &:hover{
            color: #fff;
            &:before {
              transform: scaleX(1);
            }
            &:after{
              background: url(../images/arr_right_hv.png) no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }
}