.breadcrumb {
  position: absolute;
  top: 20px;
  left: 0;
  li {
    font-size: rem(12);
    line-height: 1;
    color: #fff;
    position: relative;
    display: inline-block;
    a {
      font-size: rem(12);
      line-height: 1;
      color: #fff;
    }
    &:not(:last-child) {
      margin-right: 12px;
      &:after {
        content: ">";
        font-size: rem(12);
        line-height: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -12px;
      }
    }
  }
}