.header {
  border-top: 4px solid #3B8DCD;
  &_top {
    padding: 20px 0 30px;
    h1 {
      font-size: 0;
      width: 161px;
      a {
        display: block;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &_btn {
      a {
        display: inline-block;
        width: 172px;
        height: 43px;
        position: relative;
        transform: translateX(0);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          z-index: -1;
          top: 3px;
          border-radius: 5px;
          left: 0;
        }
        span {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          font-size: 1.3rem;
          line-height: 1;
          font-weight: 700;
          color: #fff;
          position: relative;
          transition: transform 0.3s ease;
          &::before,&::after {
            position: relative;
            content: "";
          }
          &::before {
            margin-right: 10px;
          }
          &::after {
            width: #{14px/2};
            height: #{23px/2};
            background: url('../images/icon_arrow.png') 0 0 no-repeat;
            background-size: contain;
            margin-left: 10px;
          }

        }
        &._envelop {
          margin-right: 9px;
          &::after {
            background: #204D6B;
          }
          span {
            background: #3B8DCD;
            &::before {
              width: #{32px/2};
              height: #{22px/2};
              background: url('../images/icon_envelop.png') 0 0 no-repeat;
              background-size: contain;

            }
          }
        }
        &._lap {
          width: 215px;
          &::after {
            background: #962A47;
          }
          span {
            background: #E73C64;
            &::before {
              width: #{38px/2};
              height: #{23px/2};
              background: url('../images/icon_lap.png') 0 0 no-repeat;
              background-size: contain;
            }
          }
        }
        &:hover {
          span {
            transform: translateY(3px);
          }
        }
      }
    }
  }
  &_nav {
    &_l {
      > li {
        width: 20%;
        position: relative;
        z-index: 90;
        padding-bottom: 7px;
        &:last-of-type {
          > a {
            border-right: 1px dotted #ccc;
          }
        }
        > a {
          display: block;
          width: 100%;
          font-size: 1.3rem;
          line-height: 1;
          font-weight: 500;
          text-align: center;
          padding: 25px 0 2px;
          border-left: 1px dotted #ccc;
          position: relative;
          &::before {
            position: absolute;
            content: "";
            left: 50%;
            transform: translateX(-50%);
            top: 0;
          }
          @each $cl,$w,$h in ('icon_wimax',40,29),('icon_yen',36,36),('icon_ques',23,36),('icon_faq',36,38),('icon_location',25,36) {
            &.#{$cl} {
              &::before {
                width: #{$w/2}px;
                height: #{$h/2}px;
                background: url('../images/#{$cl}.png') 0 0 no-repeat;
                background-size: contain;
              }
              &:hover {
                color: #3B8DCD;
                &::before {
                  background: url('../images/#{$cl}_hr.png') 0 0 no-repeat;
                  background-size: contain;
                }
              }
            }
          }
        }
        > span {
          display: none;
        }
        > ul {
          position: absolute;
          width: 100%;
          top: 49px;
          left: 0;
          background: #fff;
          border: 1px solid #ccc;
          border-radius: 6px;
          padding: 5px 13px 9px;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease;
          &::before {
            position: absolute;
            content: "";
            width: 18px;
            height: 9px;
            background: url('../images/arrow_sub_nav.png') 0 0 no-repeat;
            background-size: contain;
            left: 50%;
            transform: translateX(-50%);
            top: -9px;
          }
          > li {
            width: 100%;
            padding: 10px 0 9px;
            text-align: left;
            font-size: 1.3rem;
            line-height: 2.3rem;
            &:not(:first-child) {
              border-top: 1px dotted #ccc;
            }
            > a {
              display: block;
              width: 100%;
              color: #000;
              &:hover {
                color: #3B8DCD;
              }
            }
          }
        }
        &:hover {
          > ul {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    &_sc {
      position: fixed;
      width: 100%;
      top: -71px;
      left: 0;
      background: #fff;
      z-index: 999;
      transition: top 0.3s ease;
      min-width: 1000px;
      &.active {
        top: 0;
      }
      &_row {
        padding: 15px 0;
        > a {
          &:nth-of-type(1) {
            width: 127px;
            display: block;
            font-size: 0;
            img {
              width: 100%;
              height: auto;
            }
          }
          &:nth-of-type(2) {
            display: inline-block;
            width: 192px;
            height: 40px;
            position: relative;
            transform: translateX(0);
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 100%;
              z-index: -1;
              top: 3px;
              border-radius: 5px;
              left: 0;
              background: #962A47;
            }
            span {
              width: 100%;
              height: 100%;
              border-radius: 5px;
              font-size: 1.3rem;
              line-height: 1;
              font-weight: 700;
              color: #fff;
              position: relative;
              transition: transform 0.3s ease;
              background: #E73C64;
              &::after {
                position: relative;
                content: "";
                width: #{14px/2};
                height: #{23px/2};
                background: url('../images/icon_arrow.png') 0 0 no-repeat;
                background-size: contain;
                margin-left: 10px;
              }
            }
            &:hover {
              span {
                transform: translateY(3px);
              }
            }
          }
        }
        > ul {
          width: 640px;
          > li {
            width: initial;
            > a {
              display: inline-block;
              padding: 25px 20px 2px;
              white-space: nowrap;
              word-break: keep-all;
            }
            > ul {
              width: 200px;
            }
          }
        }
      }
    }
  }
}