@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.firework {
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &:hover {
    .f1 {
      img {
        &:not(:nth-last-child(-n+2)) {
          transform: translate(-50%,-50%) scale(1);
        }
        &:nth-last-child(-n+2) {
          opacity: 1;
        }
      }
    }
    .f2 {
      bottom: 50%;
      transform: translate(-50%, -50%);
    }
  }
  figure.f1 {
    width: 498px;
    height: 524px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      &:nth-child(1) {
        transform: translate(-50%,-50%) scale(0);
        transition-delay: 0.4s;
      }
      &:nth-child(2) {
        transform: translate(-50%,-50%) scale(0);
        transition-delay: 0.5s;
      }
      &:nth-child(3) {
        transform: translate(-50%,-50%) scale(0);
        transition-delay: 0.7s;
      }
      &:nth-child(4) {
        transform: translate(-50%,-50%) scale(0);
        transition-delay: 0.8s;
      }
      &:nth-child(5) {
        transform: translate(-50%,-50%);
        opacity: 0;
        transition-delay: 0.7s;
      }
      &:nth-child(6) {
        transform: translate(-50%,-50%);
        opacity: 0;
        transition-delay: 0.8s;
      }
    }
  }
  .f2 {
    width: 44px;
    height: 44px;
    background-image: url('/scene_06/images/fireworks_01.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 44px 300px;
    transition: all 0.3s ease;
    position: absolute;
    left: 50%;
    bottom: -44px;
    transform: translate(-50%,0);
  }
}
// back up 
.firework {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  &.step_0 {
    figure.f1 {
      img:nth-child(4) {
        transform: translate(-50%,-50%) scale(1);
      }
    }
    .f2 {
      &::after {
        top: 0;
        opacity: 0;
      }
    }
  }
  &.step_1 {
    figure.f1 {
      img:nth-child(3) {
        transform: translate(-50%,-50%) scale(1);
      }
    }
  }
  &.step_2 {
    figure.f1 {
      img:nth-child(5) {
        transform: translate(-50%,-50%) scale(1);
      }
    }
  }
  &.step_3 {
    figure.f1 {
      img:nth-child(6) {
        transform: translate(-50%,-50%) scale(1);
      }
    }
  }
  &.step_4 {
    figure.f1 {
      img:nth-child(1) {
        transform: translate(-50%,-50%) scale(1);
      }
    }
  }
  &.step_5 {
    figure.f1 {
      img:nth-child(2) {
        transform: translate(-50%,-50%) scale(1);
      }
    }
  }
  figure.f1 {
    width: 498px;
    height: 524px;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      &:nth-child(1) {
        transform: translate(-50%,-50%) scale(0);
      }
      &:nth-child(2) {
        transform: translate(-50%,-50%) scale(0);
      }
      &:nth-child(3) {
        transform: translate(-50%,-50%) scale(0);
      }
      &:nth-child(4) {
        transform: translate(-50%,-50%) scale(0);
        transition-delay: 0.5s;
      }
      &:nth-child(5) {
        transform: translate(-50%,-50%) scale(0);
      }
      &:nth-child(6) {
        transform: translate(-50%,-50%) scale(0);
      }
    }
  }
  .f2 {
    width: 44px;
    height: 248px;
    position: relative;
    transform: translateZ(0);
    margin-top: 70px;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 100%;
      left: 0;
      background: url('/scene_06/images/fireworks_01.png') 0 0 no-repeat;
      z-index: -1;
      transition: top 0.3s ease, opacity 0.3s ease 0.6s;
    }
  }
}
// and back up;