@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl_area {
  position: relative;
  img{
    width: 100%;
    height: auto;
  }
  .row{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
  }
}

.st_confirm_area {
  padding-bottom: 30px;
  .top {
    text-align: center;
    margin: 78px 0 50px;
    h3 {
      font-size: rem(35);
      line-height: 1;
      margin-bottom: 30px;
      letter-spacing: 3px;
    }
    p {
      font-size: rem(15);
      line-height: 25px;
      margin-bottom: 5px;
    }
    em {
      font-size: rem(11);
      line-height: 25px;
      color: #9A9A9A;
      font-style: normal;
    }
  }
  .tbl_enter {
    &_content {
      .field {
        padding: 30px 0 10px;
        .area-map {
          margin-bottom: 20px;
          iframe {
            width: 100%;
            height: 865px;
            overflow: none;
            padding: 0;
            margin: 0;
            border: 1px solid #c1c1c1;
          }
        }
      }
      .visible-sp {}
    }
    &_bottom {
      color: #9A9A9A;
      border-top: 1px solid #9A9A9A;
      padding-top: 25px;
      .l_icon {
        display: flex;
        margin-bottom: 10px;
        li {
          display: flex;
          align-items: center;
          &:not(:last-child) {
            margin-right: 25px;
          }
          img {
            width: 73px;
            height: 40px;
          }
          span {
            margin-left: 10px;
          }
        }
      }
      p {
        font-size: rem(13);
        line-height: 18px;
        margin-bottom: 15px;
      }
      em {
        font-size: rem(11);
        display: block;
        line-height: 18px;
        font-style: normal;
        margin-bottom: 15px;
      }
    }
  }
}

.tt_blue {
  font-size: rem(28);
  line-height: 1.5;
  border-bottom: 3px solid #3B8DCD;
  color: #3B8DCD;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 65px;
}

.st_character {
  background-color: #F5F7F9;
  padding: 70px 0 80px;
  .gr_char {
    counter-reset: article;
    article {
      position: relative;
      min-height: 243px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      &:nth-child(even) {
        justify-content: flex-end;
        align-items: flex-end;
        figure {
          left: 0;
        }
      }
      &:not(:last-child) {
        margin-bottom: 55px;
      }
      h4 {
        font-size: rem(26);
        line-height: 45px;
        font-weight: 500;
        color: #333333;
        margin-bottom: 15px;
        position: relative;
        width: calc(100% - 460px);
        &:before {
          counter-increment: article;
          content: "0" counter(article);
          font-size: rem(24);
          color: #fff;
          line-height: 1;
          font-family: 'Arial', sans-serif;
          background: url(../images/bkg_number.png) no-repeat;
          background-size: contain;
          width: 80px;
          height: 38px;
          font-weight: bold;
          position: absolute;
          top: -45px;
          display: flex;
          justify-content: center;
          align-items: center;
          left: 0;
        }
      }
      p {
        font-size: rem(15);
        line-height: 30px;
        width: calc(100% - 460px);
        color: #333333;
      }
      figure {
        position: absolute;
        top: 0;
        right: 0;
        width: 391px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.st_radio {
  padding: 80px 0;
  h3 {
    margin-bottom: 50px;
  }
  dl {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    dt {
      font-size: rem(17);
      line-height: 25px;
      position: relative;
      font-weight: 500;
      padding-left: 20px;
      margin-bottom: 20px;
      &:before {
        content: "";
        width: 4px;
        height: 25px;
        background-color: #3B8DCD;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
    dd {
      ul {
        li {
          span {
            display: inline-block;
            width: 100%;
            border: 1px solid #ccc;
            background-color: #F5F7F9;
            border-radius: 5px;
            font-size: rem(15);
            line-height: 25px;
            padding: 12px 20px;
          }
        }
        &.list_tbl {
          border: 1px solid #ccc;
          border-radius: 5px;
          li {
            display: flex;
            &:not(:last-child) {
              border-bottom: 1px solid #ccc;
            }
            span {
              width: 248px;
              border: none;
              border-right: 1px solid #ccc;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            em {
              display: inline-block;
              font-style: normal;
              width: calc(100% - 248px);
              padding: 12px 20px;
              font-size: rem(15);
              line-height: 25px;
              background-color: #fff;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
          }
        }
      }
    }
  }
}