@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl_area {
  img{
    width: 100%;
    height: auto;
  }
}

.st_confirm_area {
  padding-bottom: vw(100);
  .top {
    margin: vw(70) 0;
    h3 {
      font-size: vw(46);
      line-height: 1;
      margin-bottom: vw(50);
      letter-spacing: vw(3);
      text-align: center;
    }
    p {
      font-size: vw(26);
      line-height: vw(45);
      margin-bottom: vw(10);
    }
    em {
      font-size: vw(22);
      line-height: vw(48);
      color: #9A9A9A;
      font-style: normal;
    }
  }
  .tbl_enter {
    &_content {
      .visible-sp {
        a {
          width: 100%;
          height: vw(100);
          font-size: vw(30);
          line-height: 1;
          color: #3B8DCD;
          border: 2px solid #3B8DCD;
          letter-spacing: vw(3);
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border-radius: vw(5);
          font-weight: 500;
          &:after {
            content: "";
            background: url(../images/arr_right.png) no-repeat;
            background-size: contain;
            width: vw(13);
            height: vw(23);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: vw(34);
          }
        }
        em {
          font-size: vw(22);
          line-height: 1;
          color: #9A9A9A;
          display: block;
          margin-top: vw(40);
          font-style: normal;
          text-align: center;
          span {
            position: relative;
            padding-left: vw(50);
            &:before {
              content: "";
              background: url(../images/icon_span.png) no-repeat;
              background-size: contain;
              width: vw(38);
              height: vw(36);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
        }
      }
    }
  }
}

.tt_blue {
  font-size: vw(36);
  line-height: vw(50);
  border-bottom: vw(3) solid #3B8DCD;
  color: #3B8DCD;
  font-weight: 600;
  padding-bottom: vw(20);
  margin-bottom: vw(65);
  letter-spacing: vw(2);
}

.st_character {
  padding: vw(35) 0 vw(38);
  .gr_char {
    counter-reset: article;
    article {
      &:not(:last-child) {
        margin-bottom: vw(100);
      }
      h4 {
        font-size: vw(28);
        line-height: vw(45);
        font-weight: 600;
        letter-spacing: vw(2);
        color: #333333;
        margin-bottom: vw(30);
        position: relative;
        padding-left: vw(95);
        &:before {
          counter-increment: article;
          content: "0" counter(article);
          font-size: vw(24);
          color: #fff;
          line-height: 1;
          font-family: 'Arial', sans-serif;
          background: url(../images/bkg_number.png) no-repeat;
          background-size: contain;
          width: vw(79);
          height: vw(38);
          font-weight: bold;
          position: absolute;
          top: vw(4);
          display: flex;
          justify-content: center;
          align-items: center;
          left: 0;
        }
      }
      p {
        font-size: vw(26);
        line-height: vw(45);
        color: #333333;
      }
      figure {
        margin-bottom: vw(25);
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.st_radio {
  padding: vw(38) 0 vw(80);
  h3 {
    margin-bottom: vw(40);
  }
  dl {
    &:not(:last-child) {
      margin-bottom: vw(30);
    }
    dt {
      font-size: vw(28);
      line-height: vw(25);
      position: relative;
      font-weight: 500;
      padding-left: vw(20);
      margin-bottom: vw(30);
      &:before {
        content: "";
        width: vw(4);
        height: vw(33);
        background-color: #3B8DCD;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
    dd {
      ul {
        li {
          span {
            display: inline-block;
            width: 100%;
            border: 1px solid #ccc;
            background-color: #F5F7F9;
            border-radius: vw(5);
            font-size: vw(26);
            line-height: vw(45);
            padding: vw(15) vw(16) vw(22);
          }
        }
        &.list_tbl {
          border: 1px solid #ccc;
          border-radius: vw(5);
          li {
            display: flex;
            &:not(:last-child) {
              border-bottom: 1px solid #ccc;
            }
            span {
              width: vw(248);
              border: none;
              border-right: 1px solid #ccc;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
            em {
              display: inline-block;
              font-style: normal;
              width: calc(100% - #{vw(248)});
              padding: vw(15) vw(16) vw(22);
              background-color: #fff;
              font-size: vw(26);
              line-height: vw(45);
              border-top-right-radius: vw(5);
              border-bottom-right-radius: vw(5);
            }
          }
        }
      }
    }
  }
}