@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl_faq {
  position: relative;
  img{
    width: 100%;
    height: auto;
  }
  .row{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
  }
  .breadcrumb{
    li{
      color: #333;
      a{
        color: #333;
      }
    }
  }
}
.st_faq{
  padding: 75px 0 103px;
  h3{
    font-size: rem(35);
    line-height: 1;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 3px;
  }
  .txt_top{
    font-size: rem(15);
    line-height: 25px;
    text-align: center;
    margin-bottom: 50px;
  }
  .list_anchor{
    display: flex;
    flex-flow: row wrap;
    margin-left: -20px;
    li{
      width: calc(25% - 20px);
      margin: 0 0 20px 20px;
      a{
        font-size: rem(20);
        line-height: 1;
        color: #3B8DCD;
        font-weight: 500;
        position: relative;
        width: 100%;
        height: 110px;
        border:3px solid #3B8DCD;
        display: block;
        text-align: center;
        padding-top: 30px;
        border-radius: 7px;
        transform: perspective(1px) translateZ(0);
        transition-property: color;
        transition-duration: 0.3s;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #3B8DCD;
          transform: scaleX(0);
          transform-origin: 0 50%;
          transition-property: transform;
          transition-duration: 0.25s;
          transition-timing-function: ease-out;
        }
        &:after{
          content:"";
          background: url(../images/arr_down.png) no-repeat;
          background-size: contain;
          width: 18px;
          height: 10px;
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
          transition: bottom .5s ease-out
        }
        &:hover{
          color: #fff;
          &:before{
            transform: scaleX(1);
            transition-timing-function: cubic-bezier(0);
          }
          &:after{
            bottom: 10px;
            background: url(../images/arr_down_hv.png) no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  .gr_faq{
    margin-top: 112px;
    article{
      &:not(:last-child){
        margin-bottom: 75px;
      }
      h3{
        text-align: left;
        font-size: rem(26);
        color: #3B8DCD;
        font-weight: 500;
        border-bottom: 3px solid #3B8DCD;
        padding-bottom: 15px;
        margin-bottom: 42px;
      }
      .main_art{
        dl{
          /* &:not(:last-child){
            margin-bottom: 35px;
          } */
          dt{
            font-size: rem(17);
            line-height: 25px;
            padding: 0 55px 0 75px;
            position: relative;
            font-weight: 600;
            cursor: pointer;
            font-weight: normal;
            margin-bottom: 20px;
            &:before{
              content:"Q";
              font-size: rem(18);
              font-weight: bold;
              font-family: 'Arial', sans-serif;
              color: #fff;
              width: 33px;
              height: 33px;
              border-radius: 100%;
              background-color: #3B8DCD;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: -4px;
              left: 22px;
            }
            &:after{
              content:"";
              background: url(../images/icon_plus_pc.png) no-repeat;
              background-size: contain;
              width: 15px;
              height: 15px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 32px;
              transition: all 0.3s ease;
            }
            &.active{
              &:after{
                background: url(../images/icon_minus.png) no-repeat;
                background-size: contain;
                height: 2px;
              }
            }
          }
          dd{
            margin: 0 0 20px;
            background-color: #FFFAFD;
            position: relative;
            font-size: rem(15);
            line-height: 30px;
            height: 0;
            overflow: hidden;
            transition: all 0.3s ease;
            .dd_h{
              padding: 20px 85px 20px 75px;
            }
            &:before{
              content:"A";
              font-size: rem(18);
              font-weight: bold;
              font-family: 'Arial', sans-serif;
              color: #fff;
              width: 33px;
              height: 33px;
              border-radius: 100%;
              background-color: #E73C64;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              top: 20px;
              left: 22px;
            }
          }
        }
      }
    }
  }
}