$blue: #3b8dcd;
$dark_blue: #044e80;
$pink: #e73c64;
.detail {
  background: url('/sp/products/images/bg@2x.png') 0 0 repeat;
  background-size: cover;
  &_wrap {
    position: relative;
    padding: vw(65) vw(40) vw(55);
    .breadcrumb {
      li {
        color: #000;
        a {
          color: #000;
        }
      }
    }
  }
  &_main {
    position: relative;
    padding: vw(105) 0 0;
  }
  &_left {
    &[data-color="color_01"] {
      .gallery_large,.gallery_thumb {
        figure {
          img{
            &:not(:nth-of-type(1)){
              display: none;
            }
          }
        }
      }
    }
    &[data-color="color_02"] {
      .gallery_large,.gallery_thumb {
        figure {
          img:not(:nth-of-type(2)){
            display: none;
          }
        }
      }
    }
    .gallery {
      &_large {
        position: relative;
        .slick-arrow {
          position: absolute;
          text-indent: -9999px;
          width: vw(48);
          height: 100%;
          top: 50%;
          transform: translateY(-50%);
          box-shadow: none;
          border: 0;
          outline: none;
          cursor: pointer;
          z-index: 20;
          &.slick-next {
            background: url('../images/arrow_next.png') center no-repeat;
            background-size: contain;
            right: 0;
          }
          &.slick-prev {
            background: url('../images/arrow_prev.png') center no-repeat;
            background-size: contain;
            left: 0;
          }
        }
        figure {
          text-align: center;
          img {
            max-width: 100%;
            width: auto;
            height: auto;
            display: inline-block;
          }
        }
      }
      &_control {
        text-align: center;
        > ul {
          font-size: 0;
          width: vw(70);
          margin-right: vw(10);
          height: vw(72);
          display: inline-flex;
          justify-content: center;
          align-items: center;
          transform: translateY(#{vw(-24)});
          li {
            cursor: pointer;
            border-radius: 50%;
            font-size: 0;
            width: vw(35);
            img {
              width: 100%;
              height: auto;
            }
            &.active {
              border: 2px solid $blue;
            }
            &:not(:last-child) {
              margin-right: vw(10);
            }
          }
        }
      }
      &_thumb {
        display: inline-block;
        width: vw(600);
        overflow: hidden;
        .slick-slide {
          padding: 0 vw(10);
        }
        .slick-current {
          figure {
            border: 1px solid $blue;
          }
        }
        figure {
          border: 1px solid #ccc;
          padding: 0 vw(10);
          width: vw(120)!important;
          height: vw(80);
          display: flex!important;
          justify-content: center;
          align-items: center;
          background: #fff;
          cursor: pointer;
          img {
            width: auto;
            height: auto;
            max-height: 80%;
            display: inline-block;
          }
        }
      }

    }
  }
  &_right {
    &_ttl {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      text-align: center;
      h4 {
        font-size: vw(52);
        line-height: 1;
        font-family: 'Arial';
        color: #000;
        font-weight: 700;
        margin-bottom: vw(20);
      }
      > p {
        font-size: vw(26);
        line-height: 1.5;
        font-weight: 500;
      }
    }
    .corr_area {
      background-color: #fff;
      border-radius: vw(5);
      padding: vw(26) vw(12) vw(28);
      margin-top: vw(30);
      .txt_corr {
        font-size: vw(26);
        line-height: 0;
        border-bottom: 1px dotted #CCCCCC;
        width: 100%;
        color: #000;
        font-weight: 500;
        display: inline-block;
        text-align: center;
        ins {
          text-decoration: none;
          background-color: #fff;
          padding: 0 vw(25);
        }
      }
      .l_logo {
        font-size: 0;
        text-align: center;
        margin-top: vw(20);
        li {
          display: inline-block;
          &:not(:last-child) {
            margin-right: vw(40);
          }
          img {
            width: vw(292);
          }
        }
      }
      p {
        text-align: center;
        a {
          display: inline-block;
          font-size: vw(26);
          line-height: 1;
          font-weight: 500;
          color: $blue;
          position: relative;
          padding: 0 vw(27) 0 0;
          margin-top: vw(30);
          &::after {
            position: absolute;
            content: "";
            width: vw(10);
            height: vw(18);
            background: url('../../images/arr_right.png') 0 0 no-repeat;
            background-size: contain;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    ._info {
      display: flex;
      margin-top: vw(52);
      li {
        width: vw(123);
        height: vw(110);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: vw(17);
        line-height: 1;
        font-weight: 400;
        position: relative;
        &:not(:last-child) {
          margin-right: vw(12);
        }
        &.speed {
          font-size: vw(37);
          line-height: 1;
          color: #fff;
          font-family: 'Arial';
          font-weight: 700;
          background: $blue;
          &::before {
            position: relative;
            content: attr(data-before);
            font-size: vw(18);
            line-height: 1;
            color: #fff;
            margin-bottom: vw(10);
            font-family: $notoJP;
            display: inline-flex;
          }
          &::after {
            position: relative;
            content: attr(data-after);
            font-size: vw(24);
            line-height: 1;
            color: #fff;
            margin-top: vw(6);
            display: inline-flex;
          }
        }
        @each $cl,$w,$h in ('quality',38,36),('wifi',36,28),('pin',56,29),('usb',43,25) {
          &.#{$cl} {
            font-size: vw(17);
            line-height: 1;
            font-weight: 400;
            background: #fff;
            span {
              order: 3;
            }
            &::before {
              order: 1;
              position: relative;
              content: "";
              width: vw($w);
              height: vw($h);
              background: url('../../images/#{$cl}.png') 0 0 no-repeat;
              background-size: contain;
              display: inline-flex;
              margin-bottom: vw(6);
            }
            &::after {
              order: 2;
              position: relative;
              content: attr(data-after);
              font-size: vw(17);
              line-height: 1;
              font-weight: 400;
              display: inline-flex;
              margin-bottom: vw(6);
            }
          }
        }
      }
    }
    .order {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      span {
        width: calc(100% - #{vw(530)});
        font-size: vw(37);
        line-height: 1.5;
        color: $pink;
        text-align: center;
        display: inline-flex;
        font-weight: 700;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: vw(500);
        height: vw(120);
        border-radius: 5px;
        font-size: vw(30);
        line-height: 1;
        font-weight: 500;
        color: #fff;
        position: relative;
        transform: translateZ(0);
        background: $pink;
        &::before {

        }
        &::after {
          position: absolute;
          content: "";
          width: vw(12);
          height: vw(20);
          background: url('../../images/arr_right_hv.png') 0 0 no-repeat;
          background-size: contain;
          right: vw(22);
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}