@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
// and back up;

.gr_ttl_light{
  img{
    width: 100%;
    height: auto;
  }
}

.light{
  padding: vw(70) 0;
  h3{
    font-size: vw(35);
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin: 0 0 vw(35);
    font-family: Arial;
    color: #333333;
    &:before{
      content:'';
      width: vw(41);
      height: vw(41);
      background: url(../images/ic_y.png) no-repeat;
      background-size: contain;
      display: inline-block;
      margin-right: vw(17);
      vertical-align: middle;
    }
  }
  h4{
    font-size: vw(42);
    line-height: 1.5;
    font-weight: 600;
    color: #3B8DCD;
    text-align: center;
    margin-bottom: vw(50);
    letter-spacing: vw(3);
    span{
      color: #333333;
    }
  }
  picture{
    margin-bottom: vw(35);
    img{
      width: 100%;
      height: auto;
    }
  }
  p{
    font-size: vw(26);
    color: #333333;
    line-height: 1.5;
    letter-spacing: vw(2);
    span{
      color: #3B8DCD;
    }
  }
}
.light_bot{
  background: #F5F7F9;
}
