.product_tab{
	padding-top: 70px;
	&_head{
		margin-bottom: 60px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		li{
			a{
		        width: 440px;
		        display: block;
		        text-align: center;
		        font-size: 2.6rem;
		        line-height: 1;
		        border: 2px solid #CCCCCC;
		        height: 55px;
		        font-weight: 500;
		        color: #CCCCCC;
		        display: flex;
		        justify-content: center;
		        letter-spacing: 2px;
		        border-radius: 5px;
		        align-items: center;
		        &.selected{
		          background: url(../images/bg_btn.png) no-repeat;
		          background-size: cover;
		          border: none;
		          padding: 0;
		          color: #fff;
		          height: 70px;
		          margin-top: 10px;
		          padding-bottom: 12px;
		        }
		    }
		}
	}
	.tabContent{
		h3{
			font-size: 2.5rem;
			line-height: 1.5;
			color: #3B8DCD;
			text-align: center;
			margin-bottom: 75px;
			font-weight: bold;
			span{
				font-family: Arial;
			}
		}
		&.hide{
	        display: none;
	    }
	    .tab_ct{
	    	display: flex;
	    	align-items: center;
	    	justify-content: space-between;
	    	margin-bottom: 75px;
	    	dl{
	    		padding-right: 60px;
	    		dt{
					font-size: 2.6rem;
				    line-height: 1.5;
				    border-bottom: 2px solid #3B8DCD;
				    color: #3B8DCD;
				    font-weight: 500;
				    padding-bottom: 10px;
				    margin-bottom: 25px;
				}
				dd{
					font-size: 1.5rem;
					line-height: 2;
					color: #333;
				}
	    	}
	    }
	}
}
