.product_tab{
	padding-top: vw(70);
	&_head{
		margin-bottom: vw(60);
		display: flex;
		justify-content: space-between;
		align-items: center;
		li{
			a{
				width: vw(317);
				display: block;
				text-align: center;
				font-size: vw(30);
				line-height: 1;
				border: 1px solid #CCCCCC;
				border-radius: vw(5);
				padding: vw(29) 0;
				font-weight: 500;
				color: #CCCCCC;
				box-shadow: 0 2px 2px 2px rgba(#727272,0.3);
				&.selected{
	            	background: #3B8DCD;
	            	color: #fff;
	            	border: 1px solid #3B8DCD;
	            	position: relative;
	            	&:after{
	            		content: '';
		              	width: vw(22);
		              	height: vw(10);
		              	background: url(../images/ic_mesdown.png) no-repeat;
		              	background-size: contain;
		              	position: absolute;
		              	left: 0;
		              	right: 0;
		              	bottom: vw(-10);
					    margin: auto;
					    z-index: 1;
	            	}
	          	}
			}
		}
	}
	.tabContent{
		h3{
			font-size: vw(42);
			line-height: 1.5;
			color: #3B8DCD;
			text-align: center;
			margin-bottom: vw(75);
			font-weight: bold;
			letter-spacing: -.9px;
			span{
				font-family: Arial;
			}
		}
		&.hide{
	        display: none;
	    }
	    .tab_ct{
	    	display: flex;
	    	align-items: center;
	    	justify-content: space-between;  
	    	flex-wrap: wrap; 	
	    	margin-bottom: vw(75);
	    	picture{
	    		order: 1;
	    		margin: vw(35) 0;
	    		img{
	    			width: 100%;
	    		}
	    	}
	    	h4{
	    		font-size: vw(42);
			    line-height: 1.5;
			    border-bottom: 2px solid #3B8DCD;
			    color: #3B8DCD;
			    font-weight: 500;
			    padding-bottom: vw(15);
			    margin-bottom: vw(35);
			    width: 100%;
	    	}
	    	dl{
	    		order: 2;
				dd{
					font-size: vw(26);
					line-height: 2;
					color: #333;
				}
	    	}
	    }
	}
}
