@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================

.gr_ttl_price{
  height: 350px;
  background: url(../images/price_banner.png) no-repeat;
  background-size: cover;
  .row{
    position: relative;
  }
  picture{
    padding-top: 40px;
  }
}
.price_banner{
  background: #e4f2fd;
  padding: 70px 0;
  position: relative;
  margin-bottom: 40px;
  &:after{
    content: '';
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #e4f2fd;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.price_ct{
  padding: 70px 0;
  &_tt{
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin: 0 0 30px;
  }
  &_des{
    font-size: 1.5rem;
    line-height: 1.7;
    color: #333333;
    font-weight: 500;
    display: block;
    text-align: left;
    max-width: 880px;
    margin: 0 auto 110px;
  }
  &_tab{
    position: relative;
    margin-bottom: 50px;
    .rec{
      width: 126px;
      height: 125px;
      background: url(../images/bkg_sp.png) no-repeat;
      background-size: contain;
      position: absolute;
      top: -40px;
      left: -24px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 2rem;
      line-height: 1;
    }
    &_head{
      list-style-type: none; 
      margin: 30px 0 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li{
        width: 468px;
        a{
          color: #42454a;
          border: 1px solid #cccccc; 
          padding: 21px 10px 17px;
          text-decoration: none;
          display: block;
          position: relative;
          font-size: 3rem;
          color: #59a8e0;
          text-align: center;
          font-weight: 500;
          border-top-right-radius: 7px;
          border-top-left-radius: 7px;
          background: #f5f7f8;
          &.selected{
            background: #fff;
            border: 3px solid #59a8e0;
            border-bottom: none;
            top: 3px;
            box-shadow: 2px -1px 4px -1px #797979;
            &:after{
              display: none;
            }
          }
        }
        &.tabsa{
          a{
            &:before{
              content: '';
              width: 80px;
              height: 52px;
              background: url(../images/ic_02.png) no-repeat;
              background-size: contain;
              display: inline-block;
              vertical-align: middle;
            }
            &:after{
              content: '';
              width: 22px;
              height: 15px;
              background: url(../images/ic_down01.png) no-repeat;
              background-size: contain;
              position: absolute;
              right: 50px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        &.tabsb{
          a{
            &:before{
              content: '';
              width: 80px;
              height: 52px;
              background: url(../images/pr_03_pc.png) no-repeat;
              background-size: contain;
              display: inline-block;
              vertical-align: middle;
              padding-right: 20px;
            }
            &:after{
              content: '';
              width: 22px;
              height: 15px;
              background: url(../images/ic_down02.png) no-repeat;
              background-size: contain;
              position: absolute;
              right: 50px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }
        &:last-child{
          a{
            color: #3f799e;
            &.selected{
              border: 3px solid #3f799e;
              border-bottom: none;
              top: 3px;
              box-shadow: 2px -1px 4px -1px #797979;
            }
          }
        }
      }
    }
    .tabContent{
      border: 3px solid #59a8e0; 
      padding: 50px 50px 40px;
      border-bottom-right-radius: 7px;
      border-bottom-left-radius: 7px;
      box-shadow: 1px 1px 5px #797979;
      &.hide{
        display: none;
      }
      .tab_ct_inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
        .st1{
          display: flex;
          justify-content: space-between;
          margin-bottom: 26px;
          dl{
            width: 392px;
            text-align: center;
            background: #fff;
            border: 2px solid #59a8e0;
            border-radius: 7px;
            margin: 0 14px;
            position: relative;
            margin-bottom: 14px;
            &:after{
              content: '';
              width: 29px; 
              height: 14px;
              position: absolute;
              bottom: -14px;
              left: 0;
              right: 0;
              margin: auto;
              background: url(../images/ic_mesdown.png) no-repeat;
              background-size: contain;
              z-index: 1;
            }
            dt{
              background: #59a8e0;
              color: #fff;
              font-size: 2rem;
              line-height: 1;
              padding: 20px 10px;
            }
            dd{
              padding: 15px 15px 20px;
              background: #F7FCFE;
              border-radius: 7px;
              picture{
                margin-bottom: 15px;
              }
              p{
                font-size: 1.6rem;
                line-height: 1;
                color: #59a8e0;
              }
            }
          }
        }
        .st2{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 55px;
          .st2_child{
            dl{
              padding: 20px 0 17px;
              display: flex;
              align-items: center;
              width: 428px;
              border-top: 1px solid #ececec;
              &:last-of-type{
                border-bottom: 1px solid #ececec;
              }
              dt{
                width: 115px;
                text-align: center;
                span{
                  display: block;
                }
              }
              dd{
                text-align: center;
                width: calc(100% - 115px);
                .price_st2{
                  margin-bottom: 15px;
                  em{
                    font-style: normal;
                    font-size: 4.2rem;
                    line-height: 1;
                    font-weight: 500;
                    display: inline-block;
                    color: #333;
                    padding-right: 6px;
                    &:before{
                      content: '月額';
                      writing-mode: vertical-lr;
                      text-orientation: upright;
                      display: inline-block;
                      font-size: 1.7rem;
                      line-height: 1;
                      padding-right: 6px;
                      position: relative;
                      top: 3px;
                    }
                  }
                  span{
                    font-size: 2.4rem;
                    line-height: 1;
                    font-weight: 500;
                    display: inline-block;
                    color: #333;
                    &:before{
                      content: '（税抜）';
                      display: block;
                      font-size: 0.9rem;
                      line-height: 1;
                    }
                  }
                  &.hl{
                    em, span{
                      color: #e73d64;
                      font-weight: bold;
                    }
                  }
                  &.null{
                    em, span{
                      &:before{
                        display: none;
                      }
                    }
                  }
                }
                .des_st2{
                  a{
                    background: #59a8e0;
                    color: #fff;
                    font-size: 1rem;
                    line-height: 1;
                    padding: 5px;
                    width: 135px;
                    border-radius: 3px;
                    display: inline-block;
                    sub {
                      top: -0.25em;
                      bottom: inherit;
                    }
                  }
                  span{
                    font-size: 1.2rem;
                    color: #333;
                    padding-left: 12px;
                    strong{
                      font-style: normal;
                      font-size: 1.4rem;
                      line-height: 1;
                      color: #e73d64;
                      font-weight: bold;
                      padding: 0 3px;
                      em{
                        font-size: .9rem;
                        line-height: 1;
                        font-weight: 500;
                        font-style: normal;
                      }
                    }
                  }
                  &.null{
                    display: none;
                  }
                }
              }
            }
          }
        }
        .btn_price{
          display: flex;
          align-items: center;
          justify-content: space-around;
          a{
            display: inline-block;
            color: #fff;
            background: #e73d64;
            font-size: 1.5rem;
            line-height: 1;
            text-align: center;
            padding: 18px;
            width: 366px;
            border-radius: 3px;
            box-shadow: 1px 1px 5px #797979;
            position: relative;
            overflow: hidden;
            &:before{
              content: "";
              width: 200%;
              height: 200%;
              background: rgba(255, 255, 255, 0.4);
              transform: rotate(-45deg);
              position: absolute;
              top: -10%;
              left: -180%;
              transition: 0.7s ease-in-out;
            }
            &:after{
              content: '';
              width: 10px;
              height: 15px;
              background: url(../images/arr_right_hv.png) no-repeat;
              background-size: contain;
              position: absolute;
              right: 18px;
              top: 50%;
              transform: translateY(-50%);
            }
            &:hover{
              &:before{
                left: 60%;
              }
            }
          }
        }
      }
      >p{
        color: #9A9A9A;
      }
      .blue_hl{
        color: #3B8DCD;
      }
      >ul{
        margin-bottom: 20px;
        li{
          color: #9A9A9A;
        }
      }
      .note{
        color: #9A9A9A;
        font-size: 1.1rem;
        line-height: 1.6;
        text-align: center;
        margin-bottom: 25px;
        position: absolute;
        top: 720px;
        left: 0;
        right: 0;
      }
      &:last-of-type{
        border: 3px solid #044E80;
        .st1{
          dl{
            border: 2px solid #044E80;
            dt{
              background: #044E80;
            }
            dd{
              p{
                color: #044E80;
              }
            }
          }
        }
        .st2{
          .st2_child{
            dl{
              dd{
                .des_st2{
                  a{
                    background: #044E80;
                  }
                }
              }
            }
          }
        }
      }
      &:last-of-type{
        .tab_ct_inner{
          .st1{
            dl{
              &:after{
                width: 29px;
                height: 14px;
                background: url(../images/ic_mesdown02.png) no-repeat;
                background-size: contain;
              }
            }
          }
        } 
      }
    }
  }
  &_table{
    h4{
      font-size: 3rem;
      line-height: 1.5;
      color: #59a8e0;
      text-align: left;
      font-weight: bold;
      border-bottom: 3px solid #59a8e0;
      margin-bottom: 30px;
    }
    table{
      border: 2px solid #d6d8d7;
      border-collapse: collapse;
      width: 100%;
      border-radius: 5px;
      border-style: hidden;
      box-shadow: 0 0 0 2px #d6d8d7;
      margin-bottom: 20px;
      tr{
        border: 2px solid #d6d8d7;
        td{
          border: 2px solid #d6d8d7;
          font-size: 1.5rem;
          padding: 18px 25px;
        }
        .thead{
          width: 251px;
          background: #F5F7F9;
          font-weight: bold;
        }
      }
    }
    .note{
      color: #9A9A9A;
      font-size: 1.1rem;
      line-height: 1.6;
    }
  }
}
.info{
  background: #3c8dce;
  padding: 56px 0;
  &_inner{
    background: #fff;
    border-radius: 6px;
    padding: 50px;
    &_tt{
      font-size: 3rem;
      color: #333333;
      line-height: 1;
      font-weight: 500;
      text-align: center;
      margin-bottom: 55px;
      span{
        color: #ea3b64;
      }
    }
    &_ct{
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      picture{
        margin: 0 20px;
      }
      &_in{
        p{
          font-size: 1.5rem;
          color: #333333;
          line-height: 1.6;
          padding-left: 35px;
          margin-bottom: 25px;
        }
      }
    }
    .btn_wimax_order{
      margin: 0 auto;
    }
  }
}
.price_table{
  padding: 80px 0;
  &_tt{
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin: 0 0 30px;
  }
  &_des{
    font-size: 1.5rem;
    line-height: 1.7;
    color: #333333;
    font-weight: 500;
    display: block;
    margin-bottom: 55px;
    text-align: center;
  }
  &_ct{
    h4{
      font-size: 3rem;
      line-height: 1.5;
      color: #59a8e0;
      text-align: left;
      font-weight: bold;
      border-bottom: 3px solid #59a8e0;
      margin-bottom: 30px;
    }
    picture{
      margin-bottom: 30px;
    }
    table{
      border: 2px solid #d6d8d7;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 30px;
      tr{
        border: 2px solid #d6d8d7;
        border-collapse: collapse;
        td{
          border: 2px solid #d6d8d7;
          border-collapse: collapse;
          font-size: 1.5rem;
          padding: 12px 25px;
        }
        .thead{
          width: 251px;
          background: #F5F7F9;
          font-weight: bold;
          .btn_pop{
            background: #666;
            color: #fff;
            padding: 4px 15px;
            text-align: center;
            line-height: 1;
            float: right;
            border-radius: 3px;
            width: 167px;
            &:before{
              content: '';
              width: 22px;
              height: 22px;
              background: url(../images/ic_ques.png) no-repeat;
              background-size: contain;
              display: inline-block;
              vertical-align: middle;
              padding-right: 6px;
              position: relative;
              top: -1px;
            }
          }
        }
      }
    }
  }
  &_bot{
    table{
      tr{
        .thead{
          width: 316px;
          background: #F5F7F9;
          font-weight: bold;
        }
      }
    }
  }
}
.info_bot{
  background: #eaeff3;
  padding: 70px 0;
  &_tt{
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    margin: 0 0 20px;
  }
  &_des{
    font-size: 2rem;
    line-height: 1.2;
    color: #333333;
    font-weight: 500;
    display: block;
    margin-bottom: 50px;
    text-align: center;
  }
}
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 999;
  .popup_main{
    visibility: hidden;
    position: relative;
    transform: scale(0.5);
    transition: all 0.3s ease;
    background-color: #fff;
    padding: 88px 65px 73px;
    text-align: left;
    width: 960px;
    max-width: 100%;
    .popup_content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .popup_content_l{
        width: calc(100% - 337px);
        padding-right: 35px;
        order: 1;
        dl{
          dt{
            font-size: 1.7rem;
            line-height: 25px;
            position: relative;
            font-weight: 500;
            padding-left: 20px;
            margin-bottom: 20px;
            &:before{
              content: "";
              width: 4px;
              height: 25px;
              background-color: #3B8DCD;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
          dd{
            p{
              line-height: 3;
            }
          }
        }
      }
      .popup_content_r{
        order: 2;
      }
    }
    .close{
      text-indent: -9999px;
      width: 37px;
      height: 36px;
      background: url(../images/ic_close.png) no-repeat;
      background-size: contain;
      position: absolute;
      right: 28px;
      top: 23px;
    }
  }
  &.open{
    opacity: 1;
    visibility: visible;
    .popup_main{
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      .close{
        transform: rotate(0);
        transition: all .5s ease;
        &:hover{
          transform: rotate(90deg);
        }
      }
    }
  }
}