@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
$blue: #3b8dcd;
$dark_blue: #044e80;
$pink: #e73c64;
.info {
  background: #ff7676;
  &_main {
    font-size: 1.2rem;
    line-height: 3.3rem;
    color: #fff;
    font-weight: bold;
    position: relative;
    padding: 0 0 0 45px;
    &::before {
      position: absolute;
      content: "";
      width: 19px;
      height: 19px;
      background: url('../images/icon_info.png') 0 0 no-repeat;
      background-size: contain;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.slider {
  position: relative;
  .slick {
    &-slide img {
      width: 1000px;
      height: auto;
    }
  }
  .slick-arrow {
    position: absolute;
    text-indent: -9999px;
    width: 19px;
    height: 34px;
    top: 50%;
    left: 50%;
    box-shadow: none;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 20;
    &.slick-next {
      background: url('../images/icon_next.png') 0 0 no-repeat;
      background-size: contain;
      transform: translate(calc(-50% + 500px - 10px), -50%);
    }
    &.slick-prev {
      background: url('../images/icon_prev.png') 0 0 no-repeat;
      background-size: contain;
      transform: translate(calc(-50% - 500px + 10px), -50%);
    }
  }
  .slick-dots {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -16px;
    z-index: 20;
    display: flex;
    justify-content: center;
    background: #ccc;
    height: 20px;
    align-items: center;
    li {
      width: 25px;
      height: 6px;
      background: #ffffff;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &.slick-active {
        background: $blue;
      }
      button {
        display: none;
      }
    }
  }
}
.news {
  &_main {
    padding: 40px 10px 30px;
    dl {
      display: flex;
      border: 1px solid #ccc;
      border-radius: 5px;
      dt {
        width: 106px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: $blue;
        border-radius: 5px;
        font-size: 1.5rem;
        line-height: 1;
        font-weight: 500;
      }
      dd {
        width: calc(100% - 106px);
        padding: 9px 0 10px 30px;
        font-size: 1.4rem;
        line-height: 2.4rem;
        a {
          color: #000
        }
      }
    }
  }
}
.what {
  background: url('../images/bg_what.png') 0 0 no-repeat;
  background-size: cover;
  &_main {
    padding: 65px 0 70px;
    h2 {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 3.5rem;
      line-height: 1;
      font-weight: 500;
      color: #000;
      img {
        width: 223px;
        height: auto;
      }
    }
    &_wrap {
      margin-top: 60px;
      display: flex;
      flex-flow: row wrap;
      article {
        width: 324px;
        min-height: 353px;
        background: #fff;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid #ccc;
        box-shadow: 0px 1px 2px 0 rgba(#727272, 0.3);
        padding: 0 0 25px;
        display: flex;
        flex-flow: row wrap;
        &:not(:nth-child(3n)) {
          margin-right: #{(1000px - 324px*3)/2};
        }
        &:not(:nth-child(-n+3)) {
          margin-top: 35px;
        }
        figure {
          width: 100%;
          img {
            width: 100%;
            height: 150px;
            object-fit: cover;
          }
        }
        h3 {
          text-align: center;
          font-size: 2rem;
          line-height: 1;
          font-weight: 500;
          margin-top: 27px;
          width: 100%;
        }
        p {
          text-align: center;
          margin-top: 15px;
          font-size: 3.5rem;
          line-height: 1;
          font-weight: 700;
          color: #e73c64;
          width: 100%;
        }
        .btn {
          display: flex;
          justify-content: center;
          margin-top: 13px;
          align-self: flex-end;
          width: 100%;
          a {
            display: inline-flex;
            width: 250px;
            height: 40px;
            align-items: center;
            justify-content: center;
            color: $blue;
            font-size: 1.5rem;
            font-weight: 500;
            border: 2px solid $blue;
            border-radius: 4px;
            position: relative;
            transform: translateZ(0);
            &::before {
              position: absolute;
              content: "";
              width: 8px;
              height: 14px;
              background: url('../images/arr_right.png') 0 0 no-repeat;
              background-size: contain;
              right: 12px;
              top: 50%;
              transform: translateY(-50%);
            }
            &::after {
              content: "";
              position: absolute;
              z-index: -1;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              transform: scaleX(0);
              transform-origin: 0;
              transition-property: -webkit-transform;
              transition-property: transform;
              transition-property: transform, -webkit-transform, -moz-transform;
              transition-duration: 0.3s;
              transition-timing-function: ease-out;
              background: $blue;
            }
            &:hover {
              color: #fff;
              &::after {
                transform: scaleX(1);
              }
              &::before {
                background: url('../images/arr_right_hv.png') 0 0 no-repeat;
                background-size: contain;
              }
            }
          }
        }
        &:nth-of-type(-n+3) {
          h3 {
            font-size: 2.4rem;
          }
        }
        &:nth-of-type(1) {
          p {
            img {
              width: 230px;
            }
          }
        }
        &:nth-of-type(2) {
          p {
            img {
              width: 194px;
            }
          }
        }
        &:nth-of-type(3) {
          h3 {
            font-size: 2rem;
          }
          p {
            img {
              width: 232px;
            }
          }
        }
        &:nth-of-type(4) {
          p {
            img {
              width: 224px;
            }
          }
        }
        &:nth-of-type(5) {
          p {
            img {
              width: 270px;
            }
          }
        }
        &:nth-of-type(6) {
          p {
            img {
              width: 199px;
            }
          }
        }
      }
    }
  }
}
.rate {
  padding: 55px 0 0;
  &_ttl {
    p {
      font-size: 3.5rem;
      line-height: 1;
      font-weight: 500;
      letter-spacing: 3px;
      text-align: center;
    }
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
      em {
        display: inline-block;
        font-size: 2.9rem;
        line-height: 1;
        font-weight: 700;
        color: $blue;
        width: 150px;
        height: 150px;
        background: url('../images/circle_01.png') 0 0 no-repeat;
        background-size: contain;
        margin-right: 15px;
        font-style: normal;
        text-align: center;
        padding: 35px 0 0;
        &::before {
          position: relative;
          content: attr(data-pre);
          font-size: 2.9rem;
          line-height: 1;
          font-weight: 700;
          color: $blue;
          display: inline-block;
          width: 100%;
        }
        span {
          font-size: 3.7rem;
        }
      }
      img {
        width: 468px;
        height: auto;
      }
    }
  }
  &_intro {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: 40px;
    .blue {
      color: $blue;
    }

    .dark_blue {
      color: $dark_blue;
    }
  }
  &_wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  &_ar {
    width: 470px;
    border-radius: 3px;
    &._blue {
      border: 2px solid $blue;
      h3 {
        position: relative;
        background: $blue;
        &::before {
          position: absolute;
          content: attr(data-im);
          width: 93px;
          height: 93px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: url('../images/circle_02.png') 0 0 no-repeat;
          background-size: contain;
          font-size: 1.6rem;
          line-height: 1;
          letter-spacing: -1px;
          color: #fff;
          font-weight: 700;
          top: -35px;
          left: 30px;
        }
      }
      .rate_ar_m_dl dl dt {
        background: #def3ff;
      }
      .rate_ar_m_dl dl dd figure figcaption span {
        color: $blue;
      }
      .rate_ar_m_dl dl {
        &:nth-of-type(3) {
          dd {
            figure {
              img {
                width: 54px;
              }
            }
          }
        }
      }
    }
    &._darkblue {
      border: 2px solid $dark_blue;
      h3 {
        background: $dark_blue;
      }
      .rate_ar_m_dl dl dt {
        background: #9BB8CC;
        color: #fff;
      }
      .rate_ar_m_dl dl dd figure figcaption span {
        color: $dark_blue;
      }
      .rate_ar_m_dl dl {
        &:nth-of-type(3) {
          dd {
            figure {
              img {
                width: 38px;
              }
            }
          }
        }
      }
    }
    h3 {
      text-align: center;
      font-size: 2.6rem;;
      line-height: 1;
      font-weight: 500;
      color: #fff;
      letter-spacing: 2px;
      padding: 20px 0;

    }
    &_m {
      background: #fff;
      padding: 24px;
      figure {
        img {
          width: 100%;
          height: auto;
        }
      }
      p {
        margin-top: 15px;
        text-align: center;
        img {
          width: 275px;
        }
        // em {
        //   font-style: normal;
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   position: relative;
        //   font-size: 6.8rem;
        //   line-height: 1;
        //   color: $pink;
        //   font-family: Arial;
        //   font-weight: bold;
        //   &::before {
        //     position: relative;
        //     content: attr(data-before);
        //     font-size: 2rem;
        //     line-height: 1;
        //     font-weight: 900;
        //     display: inline-block;
        //     writing-mode: vertical-lr;
        //     color: $pink;
        //     margin-right: 6px;
        //     font-family: $notoJP;
        //     letter-spacing: 5px;
        //   }
        //   &::after {
        //     content: attr(data-after);
        //     font-size: 3.3rem;
        //     line-height: 1;
        //     font-weight: 500;
        //     display: inline-block;
        //     color: $pink;
        //     margin-left: 6px;
        //     font-family: $notoJP;
        //     letter-spacing: 5px;
        //   }
        //   span {
        //     font-size: 3.3rem;
        //     font-family: $notoJP;
        //     line-height: 1;
        //     color: $pink;
        //     font-weight: 500;
        //     align-self: flex-end;
        //     display: inline-block;
        //     padding: 15px 0 0 0;
        //     position: relative;
        //     margin-left: 6px;
        //     &::before {
        //       position: absolute;
        //       content: attr(data-top);
        //       font-size: 1.1rem;
        //       line-height: 1;
        //       color: $pink;
        //       font-weight: 700;
        //       top: 0;
        //       left: 0;
        //     }
        //   }
        // }

      }
      &_dl {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        dl {
          width: 115px;
          &:not(:last-child) {
            dd figure {
              &::before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                background: url('../images/icon_plus@2x.png') 0 0 no-repeat;
                background-size: contain;
                top: 50%;
                transform: translateY(-50%);
                right: -30px;
              }
            }
          }
          dt {
            font-size: 1.2rem;
            line-height: 1;
            font-weight: 500;
            text-align: center;
            padding: 5px 0;
          }
          dd {
            margin-top: 17px;
            padding-bottom: 20px;
            figure {
              text-align: center;
              position: relative;
              
              img {
                max-width: 100%;
                width: auto;
                height: auto;
              }
              figcaption {
                font-size: 1.5rem;
                line-height: 1.5;
                font-weight: 500;
                text-align: center;
                margin-top: 10px;
                letter-spacing: -1px;
                span {
                  display: block;
                  font-weight: 900;
                }
              }
            }
          }
          &:nth-of-type(1) {
            dd {
              figure {
                img {
                  width: 49px;
                }
              }
            }
          }
          &:nth-of-type(2) {
            dd {
              figure {
                img {
                  width: 60px;
                }
              }
            }
          }
        }
      }
      &_btn {
        display: flex;
        justify-content: center;
        padding: 19px 0 0;
        border-top: 1px solid #eee;
        a {
          width: 365px;
          height: 50px;
          align-items: center;
          font-size: 1.6rem;
          line-height: 1;
          color: #fff;
          font-weight: 500;
          background: $pink;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          position: relative;
          transform: translateZ(0);
          border: 1px solid $pink;
          overflow: hidden;
          &::before {
            position: absolute;
            content: '';
            width: 8px;
            height: 14px;
            background: url('../images/arr_right_hv.png') 0 0 no-repeat;
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
          }
          &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: scaleX(0);
            transform-origin: 0;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform, -moz-transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
            background: #fff;
          }
          &:hover {
            color: $pink;
            &::after {
              transform: scaleX(1);
            }
            &::before {
              background: url('../images/arr_white_hv.png') 0 0 no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }
  &_real {
    padding: 40px 0;
    figure {
      text-align: center;
      img {
        width: 741px;
      }
    }
    &_btn {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      a {
        width: 390px;
        height: 65px;
        align-items: center;
        font-size: 2rem;
        line-height: 1;
        color: #fff;
        font-weight: 500;
        border-radius: 5px;
        border: 2px solid $blue;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        position: relative;
        color: $blue;
        transform: translateZ(0);
        &::before {
          position: absolute;
          content: '';
          width: 8px;
          height: 14px;
          background: url('../images/arr_right.png') 0 0 no-repeat;
          background-size: contain;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
        }
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scaleX(0);
          transform-origin: 0;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform, -moz-transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
          background: $blue;
        }
        &:hover {
          color: #fff;
          &::after {
            transform: scaleX(1);
          }
          &::before {
            background: url('../images/arr_right_hv.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  &_price {
    margin-top: 50px;
    padding: 48px 0 40px;
    background: #e3f2fc;
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: 500;
    color: #9A9A9A;
    p {
      + p {
        margin-top: 20px;
      }
      span {
        color: $blue;
      }
    }
  }
  &_compare {
    padding: 95px 0 64px;
    background: #f5f7f9;
    &_wrap {
      border: 1px solid #ccc;
      border-radius: 4px;
      background: #fff;
      padding: 80px 0 50px;
      position: relative;
    }
    h4 {
      position: absolute;
      font-size: 2.3rem;
      line-height: 1;
      color: #fff;
      font-weight: 400;
      letter-spacing: 4px;
      display: inline-block;
      padding: 10px 60px 25px;
      background: url('../images/ribbon.png') 0 0 no-repeat;
      background-size: contain;
      left: 50%;
      transform: translateX(-50%);
      top: -35px;
    }
    figure {
      text-align: center;
      img {

      }
      figcaption {
        font-size: 1.5rem;
        line-height: 2;
        font-weight: 500;
        margin-top: 40px;
        span {
          color: $blue;
          font-size: 2rem;
          font-weight: 700;
          display: block;
        }
      }
    }
  }
}
.product {
  background: url('../images/bg_product.png') center center no-repeat;
  background-size: cover;
  padding: 60px 0 45px;
  &_main {
    h2 {
      text-align: center;
      color: #fff;
      font-size: 3.5rem;
      line-height: 1;
      font-weight: 500;
      letter-spacing: 7px;
    }
    p {
      text-align: center;
      font-size: 1.5rem;
      line-height: 2.5rem;
      color: #fff;
      font-weight: 500;
      margin-top: 25px;
    }

  }
  &_info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    figure {
      width: 408px;
      img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
    article {
      width: calc(100% - 558px);
      h3 {
        font-size: 0;
        img {
          width: 383px;
        }
      }
      p {
        font-size: 1.9rem;
        line-height: 1;
        font-weight: 700;
        color: #fff;
        text-align: left;
        margin-top: 20px;
      }
      ul {
        display: flex;
        margin-top: 35px;
        li {
          width: 79px;
          height: 70px;
          border-radius: 3px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          line-height: 1;
          font-weight: 400;
          position: relative;
          &:not(:last-child) {
            margin-right: 7px;
          }
          &.speed {
            font-size: 2.3rem;
            line-height: 1;
            color: #fff;
            font-family: 'Arial';
            font-weight: 700;
            background: $dark_blue;
            &::before {
              position: relative;
              content: attr(data-before);
              font-size: 1rem;
              line-height: 1;
              color: #fff;
              margin-bottom: 5px;
              font-family: $notoJP;
              display: inline-flex;
            }
            &::after {
              position: relative;
              content: attr(data-after);
              font-size: 1.6rem;
              line-height: 1;
              color: #fff;
              margin-top: 3px;
              display: inline-flex;
            }
          }
          @each $cl,$w,$h,$mb in ('quality',38,36,8),('bluetooth',22,42,6),('pin',56,29,13),('signal',50,35,12) {
            &.#{$cl} {
              font-size: 1rem;
              line-height: 1;
              font-weight: 400;
              background: #fff;
              span {
                order: 3;
              }
              &::before {
                order: 1;
                position: relative;
                content: "";
                width: #{$w/2}px;
                height: #{$h/2}px;
                background: url('../images/#{$cl}.png') 0 0 no-repeat;
                background-size: contain;
                display: inline-flex;
                margin-bottom: #{$mb}px;
              }
              &::after {
                order: 2;
                position: relative;
                content: attr(data-after);
                font-size: 1rem;
                line-height: 1;
                font-weight: 400;
                display: inline-flex;
                margin-bottom: 3px;
              }
            }
          }
        }
      }
      .btn {
        margin-top: 65px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
          color: $blue;
          border: 2px solid $blue;
          border-radius: 4px;
          width: 390px;
          height: 65px;
          background: #fff;
          position: relative;
          transform: translateZ(0);
          &::after {
            position: absolute;
            content: '';
            width: 8px;
            height: 14px;
            background: url(../images/arr_right.png) 0 0 no-repeat;
            -moz-background-size: contain;
            background-size: contain;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
          }
          &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: scaleX(0);
            transform-origin: 0;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform, -moz-transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
            background: $blue;
          }
          &:hover {
            color: #fff;
            &::before {
              transform: scaleX(1);
            }
            &::after {
              background: url('../images/arr_right_hv.png') 0 0 no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }
  .product_list {
    .gr_pro {
      margin-top: 68px;
      display: flex;
      align-items: center;
      margin-left: -30px;
      article {
        background-color: #fff;
        border-radius: 7px;
        width: calc(33.33% - 30px);
        height: 100%;
        margin-left: 30px;
        &:nth-of-type(1) {
          figure {
            img {
              width: 204px;
            }
          }
        }
        &:nth-of-type(2) {
          figure {
            img {
              width: 174px;
            }
          }
        }
        &:nth-of-type(3) {
          figure {
            img {
              width: 237px;
            }
          }
        }
        a {
          display: block;
          position: relative;
          height: 100%;
          &:hover {
            figure {
              img {
                opacity: 0.7;
              }
            }
          }
        }
        .rec {
          font-size: rem(16);
          line-height: 1;
          background: url(../images/bkg_gold.png);
          background-size: contain;
          width: 102px;
          height: 100px;
          color: #fff;
          font-weight: bold;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: -30px;
          left: -17px;
          z-index: 9;
        }
        figure {
          text-align: center;
          background: url(../images/bkg_pr.png) no-repeat;
          background-size: cover;
          height: 252px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 20px;
          figcaption {
            display: flex;
            position: absolute;
            top: -40px;
            right: 10px;
            em {
              width: 51px;
              height: 51px;
              border-radius: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              font-style: normal;
              flex-direction: column;
              line-height: 1;
              font-weight: 500;
              font-size: rem(15);
              &:not(:last-child) {
                margin-right: 6px;
              }
              span {
                font-size: rem(10);
                line-height: 1.2;
                font-weight: 500;
                display: block;
              }
              ins {
                font-size: rem(6);
                line-height: 1;
                color: #9A9A9A;
                position: absolute;
                bottom: 2px;
                left: 50%;
                transform: translateX(-50%);
                text-decoration: none;
              }
              &.bg_blue {
                background-color: #59A9E0;
                color: #fff;
              }
              &.bg_white {
                background-color: #fff;
                color: #333333;
              }
              &.bg_blue_d {
                background-color: #044E80;
                color: #fff;
              }
            }
          }
        }
        .art_bottom {
          padding: 20px 28px 30px;
          position: relative;
        }
        .btt_art {
          .txt_ctn {
            font-size: rem(12);
            color: #fff;
            font-weight: 500;
            background-color: #333333;
            line-height: 1;
            padding: 5px 26px;
            border-radius: 30px;
            white-space: nowrap;
            word-break: keep-all;
            font-weight: 500;
            position: absolute;
            top: -11px;
            left: 50%;
            transform: translateX(-50%);
          }
          h4 {
            font-size: rem(15);
            line-height: 35px;
            color: #333;
            text-align: center;
            font-family: 'Arial', sans-serif;
            min-height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 16px;
            font-weight: bold;
            strong {
              font-size: rem(35);
              display: block;
              font-weight: 700;
            }
          }
          p {
            font-size: rem(12);
            line-height: 20px;
            color: #666666;
            text-align: center;
          }
        }
        .corr_area {
          background-color: #F5F7F9;
          border-radius: 3px;
          padding: 8px 12px 10px;
          margin-top: 16px;
          .txt_corr {
            font-size: rem(12);
            line-height: 0;
            border-bottom: 1px dotted #CCCCCC;
            width: 100%;
            color: #000;
            font-weight: 500;
            display: inline-block;
            text-align: center;
            ins {
              text-decoration: none;
              background-color: #F5F7F9;
              padding: 0 35px;
            }
          }
          .l_logo {
            font-size: 0;
            text-align: center;
            margin-top: 7px;
            li {
              display: inline-block;
              &:not(:last-child) {
                margin-right: 12px;
              }
              img {
                width: 110px;
              }
            }
          }
        }
        .btn_link {
          width: 100%;
          height: 40px;
          font-size: rem(15);
          line-height: 1;
          color: #333;
          border: 2px solid #333;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border-radius: 5px;
          font-weight: 500;
          margin: 14px auto 0;
          transform: perspective(1px) translateZ(0);
          transition-property: color;
          transition-duration: 0.3s;
          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #333;
            transform: scaleX(0);
            transform-origin: 0;
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
            transition-duration: 0.3s;
          }
          &:after {
            content: "";
            background: url(../images/arr_black.png) no-repeat;
            background-size: contain;
            width: 6px;
            height: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 13px;
          }
          &:hover {
            color: #fff;
            &:before {
              transform: scaleX(1);
            }
            &:after {
              background: url(../images/arr_right_hv.png) no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
    em {
      font-size: rem(11);
      line-height: 18px;
      color: #9A9A9A;
      display: block;
      margin: 50px 0 60px;
      font-style: normal;
      
    }
    .product_btn {
      display: flex;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 45px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $blue;
        border: 2px solid $blue;
        border-radius: 4px;
        width: 390px;
        height: 65px;
        background: #fff;
        position: relative;
        transform: translateZ(0);
        &::after {
          position: absolute;
          content: '';
          width: 8px;
          height: 14px;
          background: url(../images/arr_right.png) 0 0 no-repeat;
          -moz-background-size: contain;
          background-size: contain;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
        }
        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scaleX(0);
          transform-origin: 0;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform, -moz-transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
          background: $blue;
        }
        &:hover {
          color: #fff;
          &::before {
            transform: scaleX(1);
          }
          &::after {
            background: url('../images/arr_right_hv.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }
    > em {
      span {
        color: $blue;
      }
    }
  }
}
.flow {
  padding: 60px 0 53px;
  &_main {
    h2 {
      text-align: center;
      font-size: 3.5rem;
      line-height: 1;
      font-weight: 500;
      margin-bottom: 40px;
    }
    &_w {
      display: flex;
      counter-reset: fi;
      justify-content: center;
      figure {
        position: relative;
        counter-increment: fi;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        padding: 70px 0 0;
        &:not(:last-child) {
          position: relative;
          &::after {
            position: absolute;
            content: "";
            width: 20px;
            height: 100%;
            background: url('../images/link_arrow.png') 0 0 no-repeat;
            background-size: contain;
            right: 0;
            top: 0;
          }
        }
        &:nth-of-type(1) {
          img {
            width: #{(313px/2)};
          }
        }
        &:nth-of-type(2) {
          img {
            width: #{(306px/2)};
          }
        }
        &:nth-of-type(3) {
          img {
            width: #{(347px/2)};
          }
        }
        &::before {
          position: absolute;
          content: counter(fi);
          width: 92px;
          height: #{(145px/2)};
          background: url('../images/bg_number.png') 0 0 no-repeat;
          background-size: contain;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          font-size: 3.1rem;
          line-height: 1;
          font-weight: bold;
          color: #fff;
          font-family: 'Arial';
          left: 15px;
          top: 15px;
        }
        figcaption {
          font-size: 1.5rem;
          line-height: 2.5rem;
          font-weight: 400;
          text-align: center;
          margin-top: 25px;
          letter-spacing: 3px;
          color: #666;
          span {
            display: block;
            font-size: 2rem;
            font-weight: 700;
            color: #333;
          }
        }
      }
    }
    .btn {
      margin-top: 65px;
      display: flex;
      justify-content: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $blue;
        border: 2px solid $blue;
        border-radius: 4px;
        width: 390px;
        height: 65px;
        background: #fff;
        position: relative;
        transform: translateZ(0);
        &::after {
          position: absolute;
          content: '';
          width: 8px;
          height: 14px;
          background: url(../images/arr_right.png) 0 0 no-repeat;
          -moz-background-size: contain;
          background-size: contain;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
        }
        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scaleX(0);
          transform-origin: 0;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform, -moz-transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
          background: $blue;
        }
        &:hover {
          color: #fff;
          &::before {
            transform: scaleX(1);
          }
          &::after {
            background: url('../images/arr_right_hv.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}
.faq {
  background: #eaeff4;
  padding: 60px 0 50px;
  &_main {
    h2 {
      text-align: center;
      font-size: 3.5rem;
      line-height: 1;
      font-weight: 500;
      margin-bottom: 40px;
    }
    &_w {
      border: 1px solid #ccc;
      border-radius: 4px;
      overflow: hidden;
      dl{
        background: #fff;
        &:not(:last-child) {
          dt {
            border-bottom: 2px solid #ccc;
          }
        }
        dt{
          font-size: rem(15);
          line-height: 25px;
          position: relative;
          font-weight: 500;
          cursor: pointer;
          padding: 24px 0 24px 75px;
          &:before{
            content:"Q";
            font-size: rem(18);
            font-weight: bold;
            font-family: 'Arial', sans-serif;
            color: #fff;
            width: 33px;
            height: 33px;
            border-radius: 100%;
            background-color: #3B8DCD;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 18px;
            left: 22px;
          }
          &:after{
            content:"";
            background: url(../images/icon_plus.png) no-repeat;
            background-size: contain;
            width: 15px;
            height: 15px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 32px;
            transition: all 0.3s ease;
          }
          &.active{
            &:after{
              background: url(../images/icon_minus.png) no-repeat;
              background-size: contain;
              height: 2px;
            }
          }
        }
        dd{
          background-color: #FFFAFD;
          position: relative;
          font-size: rem(15);
          line-height: 30px;
          height: 0;
          overflow: hidden;
          transition: all 0.3s ease;
          .dd_h{
            padding: 20px 85px 20px 75px;
          }
          &:before{
            content:"A";
            font-size: rem(18);
            font-weight: bold;
            font-family: 'Arial', sans-serif;
            color: #fff;
            width: 33px;
            height: 33px;
            border-radius: 100%;
            background-color: #E73C64;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 20px;
            left: 22px;
          }
        }
      }
    }
    .btn {
      margin-top: 65px;
      display: flex;
      justify-content: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: $blue;
        border: 2px solid $blue;
        border-radius: 4px;
        width: 390px;
        height: 65px;
        background: #fff;
        position: relative;
        transform: translateZ(0);
        &::after {
          position: absolute;
          content: '';
          width: 8px;
          height: 14px;
          background: url(../images/arr_right.png) 0 0 no-repeat;
          -moz-background-size: contain;
          background-size: contain;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
        }
        &::before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transform: scaleX(0);
          transform-origin: 0;
          transition-property: -webkit-transform;
          transition-property: transform;
          transition-property: transform, -webkit-transform, -moz-transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
          background: $blue;
        }
        &:hover {
          color: #fff;
          &::before {
            transform: scaleX(1);
          }
          &::after {
            background: url('../images/arr_right_hv.png') 0 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}