@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl_about {
  img{
    width: 100%;
    height: auto;
  }
}

.st_wimax {
  h3 {
    font-size: vw(42);
    line-height: vw(55);
    text-align: center;
    margin: 0 0 vw(53);
    color: #3B8DCD;
  }
  .bx_img{
    position: relative;
    picture{
      img{
        width: 100%;
        height: auto;
      }
    }
    em {
      width: vw(355);
      height: vw(60);
      font-size: vw(32);
      line-height: 1;
      color: #fff;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3B8DCD;
      position: absolute;
      top: vw(38);
      left: 50%;
      transform: translateX(-50%);
      font-style: normal;
    }
  }
  p {
    font-size: vw(26);
    line-height: vw(45);
    color: #333333;
    margin-top: vw(40);
    span {
      color: #3B8DCD;
    }
  }
}

.st_wimax_top {
  padding: vw(65) 0 vw(70);
}

.st_wimax_ct {
  padding: vw(70) 0 vw(90);
  background-color: #F5FBFF;
}
 
.st_wimax_bottom {
  padding: vw(70) 0 vw(100);
  background-color: #F5FBFF;
}

.st_wimax_link {
  padding: 78px 0 38px;
  h3 {
    font-size: rem(35);
    line-height: 42px;
    text-align: center;
    margin: 0 0 60px;
    color: #3B8DCD;
  }
  .wrap_art {
    counter-reset: article;
    article {
      box-shadow: 0 2px 7px 2px rgba(13, 4, 8, 0.1);
      border-radius: 8px;
      position: relative;
      margin: 0 0 vw(78) 0;
      span {
        font-size: vw(16);
        line-height: 1;
        color: #3B8DCD;
        background: url(../images/bkg_sp.png) no-repeat;
        background-size: contain;
        width: vw(110);
        height: vw(110);
        position: absolute;
        top: vw(-41);
        left: vw(-15);
        display: flex;
        justify-content: center;
        /* align-items: center; */
        font-weight: 500;
        padding-top: vw(30);
        &:before {
          counter-increment: article;
          content: "0" counter(article);
          font-size: vw(37);
          line-height: 1;
          font-weight: bold;
          position: absolute;
          top: vw(45);
          left: 50%;
          transform: translateX(-50%);
        }
      }
      h4 {
        background-color: #3B8DCD;
        font-size: vw(30);
        line-height: 1.5;
        color: #fff;
        font-weight: normal;
        border-top-right-radius: vw(8);
        border-top-left-radius: vw(8);
        text-align: center;
        padding: vw(25) 0;
        ins {
          font-size: vw(13);
          text-decoration: none;
        }
      }
      .main_art {
        padding: vw(50) vw(30) vw(46);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        &_top {
          figure {
            text-align: center;
            margin-bottom: vw(30);
            img {
              width: 100%;
              height: auto;
            }
          }
          p {
            font-size: vw(26);
            line-height: vw(45);
          }
          em {
            font-size: vw(22);
            display: block;
            font-style: normal;
          }
        }
        .link {
          width: 100%;
          height: vw(100);
          border: vw(3) solid #3B8DCD;
          font-size: vw(30);
          line-height: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: vw(5);
          font-weight: 500;
          color: #3B8DCD;
          margin: vw(35) auto 0;
          position: relative;
          &:after {
            content: "";
            background: url(../images/arr_right.png) no-repeat;
            background-size: contain;
            width: vw(14);
            height: vw(25);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: vw(40);
          }
        }
      }
    }
  }
}