@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl_product {
  img{
    width: 100%;
    height: auto;
  }
}

.st_products {
  background-color: #E3F2FC;
  padding: vw(68) 0 vw(95);
  h3 {
    font-size: vw(42);
    line-height: 1;
    text-align: center;
    margin-bottom: vw(50);
  }
  p {
    text-align: left;
    font-size: vw(26);
    line-height: vw(45);
  }
  .gr_pro {
    margin-top: vw(70);
    article {
      background-color: #fff;
      border-radius: vw(7);
      &:not(:last-child) {
        margin-bottom: vw(50);
      }
      &:nth-of-type(1) {
        figure {
          img {
            width: vw(320);
          }
        }
      }
      &:nth-of-type(2) {
        figure {
          img {
            width: vw(270);
          }
        }
      }
      &:nth-of-type(3) {
        figure {
          img {
            width: vw(340);
          }
        }
      }
      a {
        display: block;
        position: relative;
        height: 100%;      
      }
      .rec {
        font-size: vw(24);
        line-height: 1;
        background: url(../images/bkg_gold.png);
        background-size: contain;
        width: vw(134);
        height: vw(134);
        color: #fff;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: vw(-50);
        left: vw(17);
        z-index: 9;
      }
      figure {
        text-align: center;
        background: url(../images/bkg_pr.png) no-repeat;
        background-size: cover;
        height: vw(337);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: vw(20);
        figcaption {
          display: flex;
          position: absolute;
          top: vw(-30);
          right: vw(30);
          em {
            width: vw(83);
            height: vw(83);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-style: normal;
            flex-direction: column;
            line-height: 1;
            font-weight: 500;
            font-size: vw(24);
            &:not(:last-child) {
              margin-right: vw(10);
            }
            span {
              font-size: vw(16);
              line-height: 1.3;
              font-weight: 500;
              display: block;
            }
            ins {
              font-size: vw(10);
              line-height: 1;
              color: #9A9A9A;
              position: absolute;
              bottom: vw(8);
              left: 50%;
              transform: translateX(-50%);
              text-decoration: none;
            }
            &.bg_blue {
              background-color: #59A9E0;
              color: #fff;
            }
            &.bg_white {
              background-color: #fff;
              color: #333333;
            }
            &.bg_blue_d {
              background-color: #044E80;
              color: #fff;
            }
          }
        }
      }
      .art_bottom {
        padding: vw(58) vw(30) vw(42);
        position: relative;
      }
      .btt_art {
        .txt_ctn {
          font-size: vw(21);
          color: #fff;
          font-weight: 500;
          background-color: #333333;
          line-height: 1;
          padding: vw(10) vw(40);
          border-radius: 30px;
          font-family: 'Arial', sans-serif;
          font-weight: 500;
          position: absolute;
          top: vw(-20);
          left: 50%;
          transform: translateX(-50%);
        }
        h4 {
          font-size: vw(42);
          line-height: 1;
          color: #333;
          text-align: center;
          margin-bottom: vw(25);
          font-weight: bold;
          strong {
            font-size: vw(42);
            display: inline-block;
            margin-left: vw(10);
          }
        }
        p {
          font-size: vw(26);
          line-height: vw(36);
          text-align: center;
          color: #666666;
        }
      }
      .corr_area {
        background-color: #F5F7F9;
        border-radius: vw(5);
        padding: vw(26) vw(12) vw(28);
        margin-top: vw(30);
        .txt_corr {
          font-size: vw(26);
          line-height: 0;
          border-bottom: 1px dotted #CCCCCC;
          width: 100%;
          color: #000;
          font-weight: 500;
          display: inline-block;
          text-align: center;
          ins {
            text-decoration: none;
            background-color: #F5F7F9;
            padding: 0 35px;
          }
        }
        .l_logo {
          font-size: 0;
          text-align: center;
          margin-top: vw(20);
          li {
            display: inline-block;
            &:not(:last-child) {
              margin-right: vw(40);
            }
            img {
              width: vw(250);
            }
          }
        }
      }
      .btn_link {
        width: 100%;
        height: vw(100);
        font-size: vw(30);
        line-height: 1;
        color: #333;
        border: vw(2) solid #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: vw(5);
        font-weight: 500;
        margin: vw(20) auto 0;
        transform: perspective(1px) translateZ(0);
        transition-property: color;
        transition-duration: 0.3s;
        &:after {
          content: "";
          background: url(../images/arr_black.png) no-repeat;
          background-size: contain;
          width: vw(13);
          height: vw(23);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: vw(30);
        }
      }
    }
  }
  em {
    font-size: vw(22);
    line-height: vw(35);
    color: #9A9A9A;
    display: block;
    margin: vw(65) 0 vw(80);
    font-style: normal;
  }
  .btn_wimax_order {
    margin: 0 auto;
  }
}

.st_recommend {
  padding: vw(85) 0 vw(145);
  h3 {
    font-size: vw(42);
    line-height: vw(50);
    color: #3B8DCD;
    text-align: center;
    margin-bottom: vw(50);
  }
  p {
    font-size: vw(26);
    line-height: vw(45);
    color: #333;
    margin-bottom: vw(50);
  }
  .l_anchor {
    display: flex;
    margin-left: vw(-20);
    li {
      width: calc(33.33% - #{vw(20)});
      margin-left: vw(20);
      a {
        display: block;
        box-shadow: 0 2px 7px 2px rgba(13, 4, 8, 0.1);
        border-radius: vw(8);
        padding-bottom: vw(50);
        position: relative;
        img {
          width: 100%;
          height: auto;
        }
        &:after {
          content: "";
          background: url(../images/arr_down.png) no-repeat;
          background-size: contain;
          width: vw(26);
          height: vw(15);
          position: absolute;
          bottom: 11px;
          left: 50%;
          transform: translateX(-50%);
          transition: bottom 0.2s ease-out;
        }
        span {
          font-size: vw(22);
          line-height: vw(33);
          color: #3B8DCD;
          min-height: vw(64);
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          margin-top: vw(20);
          text-align: center;
        }
      }
    }
  }
  .gr_recommed {
    article {
      margin-top: vw(100);
      &:nth-of-type(1) {
        figure {
          img {
            width: vw(320);
          }
        }
      }
      &:nth-of-type(2) {
        figure {
          img {
            width: vw(270);
          }
        }
      }
      &:nth-of-type(3) {
        figure {
          img {
            width: vw(355);
          }
        }
      }
      h4 {
        font-size: vw(36);
        line-height: vw(50);
        color: #3B8DCD;
        border-bottom: 2px solid #3B8DCD;
        font-weight: 500;
        padding-bottom: vw(10);
        margin-bottom: vw(70);
      }
      .main_art {
        display: flex;
        flex-direction: column;
        &_l {
          order: 2;
          margin-top: vw(40);
          dl {
            &:not(:last-child) {
              margin-bottom: vw(60);
            }
            dt {
              font-size: vw(28);
              line-height: vw(25);
              position: relative;
              font-weight: 500;
              padding-left: vw(25);
              margin-bottom: vw(25);
              &:before {
                content: "";
                width: vw(5);
                height: vw(33);
                background-color: #3B8DCD;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
              }
            }
            dd {
              p {
                text-align: left;
                margin-bottom: 0;
              }
            }
          }
          .l_btn {
            li {
              &:not(:last-child) {
                margin-bottom: vw(22);
              }
              a {
                font-size: vw(30);
                line-height: 1;
                width: 100%;
                height: vw(100);
                display: flex;
                justify-content: center;
                font-weight: 500;
                align-items: center;
                border-radius: vw(5);
                position: relative;
                &:after {
                  content: "";
                  width: vw(13);
                  height: vw(23);
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: vw(33);
                }
                &.btn_w {
                  border: vw(2) solid #3B8DCD;
                  color: #3B8DCD;
                  &:before {
                    background: #3B8DCD;
                  }
                  &:after {
                    background: url(../images/arr_right.png) no-repeat;
                    background-size: contain;
                  }
                }
                &.btn_p {
                  background-color: #E73C64;
                  border: vw(2) solid #E73C64;
                  color: #fff;
                  &:before {
                    background: #fff;
                  }
                  &:after {
                    background: url(../images/arr_white.png) no-repeat;
                    background-size: contain;
                  }
                }
              }
            }
          }
        }
        &_r {
          background-color: #F5F7F9;
          border-radius: vw(8);
          order: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          .top_sp {
            background: url(../images/bkg_item.png) no-repeat;
            background-size: contain;
            width: vw(151);
            height: vw(132);
            position: absolute;
            top: vw(-35);
            left: 0;
            em {
              font-size: vw(28);
              font-style: normal;
              line-height: 1.1;
              text-align: center;
              display: block;
              color: #fff;
              padding: vw(25) vw(5) 0 0;
              transform: rotate(-18deg);
            }
            span {
              font-size: vw(34);
              display: block;
            }
          }
          figure {
            text-align: center;
            padding: vw(56) 0;
            figcaption {
              font-size: vw(28);
              margin-top: vw(30);
              line-height: 1;
              font-weight: bold;
              font-family: 'Arial', sans-serif;
              text-align: center;
            }
          }
        }
      }
    }
  }
}