@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl_product {
  position: relative;
  img{
    width: 100%;
    height: auto;
  }
  .row{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
  }
}

.st_products {
  background-color: #E3F2FC;
  padding: 68px 0;
  h3 {
    font-size: rem(35);
    line-height: 1;
    text-align: center;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    font-size: rem(15);
    line-height: 30px;
  }
  .gr_pro {
    margin-top: 68px;
    display: flex;
    align-items: center;
    margin-left: -30px;
    article {
      background-color: #fff;
      border-radius: 7px;
      width: calc(33.33% - 30px);
      height: 100%;
      margin-left: 30px;
      &:nth-of-type(1) {
        figure {
          img {
            width: 204px;
          }
        }
      }
      &:nth-of-type(2) {
        figure {
          img {
            width: 174px;
          }
        }
      }
      &:nth-of-type(3) {
        figure {
          img {
            width: 237px;
          }
        }
      }
      a {
        display: block;
        position: relative;
        height: 100%;
        &:hover {
          figure {
            img {
              opacity: 0.7;
            }
          }
        }
      }
      .rec {
        font-size: rem(16);
        line-height: 1;
        background: url(../images/bkg_gold.png);
        background-size: contain;
        width: 102px;
        height: 100px;
        color: #fff;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -30px;
        left: -17px;
        z-index: 9;
      }
      figure {
        text-align: center;
        background: url(../images/bkg_pr.png) no-repeat;
        background-size: cover;
        height: 252px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        figcaption {
          display: flex;
          position: absolute;
          top: -40px;
          right: 10px;
          em {
            width: 51px;
            height: 51px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            font-style: normal;
            flex-direction: column;
            line-height: 1;
            font-weight: 500;
            font-size: rem(15);
            &:not(:last-child) {
              margin-right: 6px;
            }
            span {
              font-size: rem(10);
              line-height: 1.2;
              font-weight: 500;
              display: block;
            }
            ins {
              font-size: rem(6);
              line-height: 1;
              color: #9A9A9A;
              position: absolute;
              bottom: 2px;
              left: 50%;
              transform: translateX(-50%);
              text-decoration: none;
            }
            &.bg_blue {
              background-color: #59A9E0;
              color: #fff;
            }
            &.bg_white {
              background-color: #fff;
              color: #333333;
            }
            &.bg_blue_d {
              background-color: #044E80;
              color: #fff;
            }
          }
        }
      }
      .art_bottom {
        padding: 20px 28px 30px;
        position: relative;
      }
      .btt_art {
        .txt_ctn {
          font-size: rem(12);
          color: #fff;
          font-weight: 500;
          background-color: #333333;
          line-height: 1;
          padding: 5px 26px;
          border-radius: 30px;
          white-space: nowrap;
          word-break: keep-all;
          font-weight: 500;
          position: absolute;
          top: -11px;
          left: 50%;
          transform: translateX(-50%);
        }
        h4 {
          font-size: rem(15);
          line-height: 35px;
          color: #333;
          text-align: center;
          font-family: 'Arial', sans-serif;
          min-height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-bottom: 16px;
          font-weight: bold;
          strong {
            font-size: rem(35);
            display: block;
            font-weight: 700;
          }
        }
        p {
          font-size: rem(12);
          line-height: 20px;
          color: #666666;
          text-align: center;
        }
      }
      .corr_area {
        background-color: #F5F7F9;
        border-radius: 3px;
        padding: 8px 12px 10px;
        margin-top: 16px;
        .txt_corr {
          font-size: rem(12);
          line-height: 0;
          border-bottom: 1px dotted #CCCCCC;
          width: 100%;
          color: #000;
          font-weight: 500;
          display: inline-block;
          text-align: center;
          ins {
            text-decoration: none;
            background-color: #F5F7F9;
            padding: 0 35px;
          }
        }
        .l_logo {
          font-size: 0;
          text-align: center;
          margin-top: 7px;
          li {
            display: inline-block;
            &:not(:last-child) {
              margin-right: 12px;
            }
            img {
              width: 110px;
            }
          }
        }
      }
      .btn_link {
        width: 100%;
        height: 40px;
        font-size: rem(15);
        line-height: 1;
        color: #333;
        border: 2px solid #333;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 5px;
        font-weight: 500;
        margin: 14px auto 0;
        transform: perspective(1px) translateZ(0);
        transition-property: color;
        transition-duration: 0.3s;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: #333;
          transform: scaleX(0);
          transform-origin: 0;
          transition-property: transform;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
          transition-duration: 0.3s;
        }
        &:after {
          content: "";
          background: url(../images/arr_black.png) no-repeat;
          background-size: contain;
          width: 6px;
          height: 10px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 13px;
        }
        &:hover {
          color: #fff;
          &:before {
            transform: scaleX(1);
          }
          &:after {
            background: url(../images/arr_right_hv.png) no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  em {
    font-size: rem(11);
    line-height: 18px;
    color: #9A9A9A;
    display: block;
    margin: 50px 0 60px;
    font-style: normal;
  }
  .btn_wimax_order {
    margin: 0 auto;
  }
}

.st_recommend {
  padding: 70px 0 107px;
  h3 {
    font-size: rem(35);
    line-height: 35px;
    color: #3B8DCD;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 3px;
  }
  p {
    font-size: rem(15);
    line-height: 30px;
    color: #333;
    text-align: center;
    margin-bottom: 50px;
  }
  .l_anchor {
    display: flex;
    margin-left: -27px;
    li {
      width: calc(33.33% - 27px);
      margin-left: 27px;
      a {
        display: block;
        border-radius: 8px;
        padding-bottom: 36px;
        position: relative;
        picture {
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
            transition: all 0.5s ease;
          }
        }
        &:hover {
          opacity: 0.7;
          picture {
            img {
              transform: scale(1.1);
            }
          }
          &:after {
            bottom: 8px;
          }
        }
        &:after {
          content: "";
          background: url(../images/arr_down.png) no-repeat;
          background-size: contain;
          width: 21px;
          height: 12px;
          position: absolute;
          bottom: 11px;
          left: 50%;
          transform: translateX(-50%);
          transition: bottom 0.2s ease-out;
        }
        span {
          font-size: rem(19);
          line-height: 1;
          color: #3B8DCD;
          display: block;
          position: relative;
          margin-top: 18px;
          text-align: center;
        }
      }
    }
  }
  .gr_recommed {
    article {
      margin-top: 100px;
      &:nth-of-type(1) {
        figure {
          img {
            width: 204px;
          }
        }
      }
      &:nth-of-type(2) {
        figure {
          img {
            width: 174px;
          }
        }
      }
      &:nth-of-type(3) {
        figure {
          img {
            width: 237px;
          }
        }
      }
      h4 {
        font-size: rem(26);
        line-height: 47px;
        color: #3B8DCD;
        border-bottom: 3px solid #3B8DCD;
        font-weight: 600;
        padding-bottom: 10px;
        margin-bottom: 50px;
        letter-spacing: 3px;
      }
      .main_art {
        display: flex;
        justify-content: space-between;
        &_l {
          width: calc(100% - 356px);
          padding-right: 65px;
          dl {
            &:not(:last-child) {
              margin-bottom: 25px;
            }
            dt {
              font-size: 1.7rem;
              line-height: 25px;
              position: relative;
              font-weight: 600;
              padding-left: 20px;
              letter-spacing: 1px;
              margin-bottom: 20px;
              &:before {
                content: "";
                width: 4px;
                height: 25px;
                background-color: #3B8DCD;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
              }
            }
            dd {
              p {
                text-align: left;
                margin-bottom: 0;
              }
            }
          }
          .l_btn {
            li {
              display: inline-block;
              &:not(:last-child) {
                margin-right: 15px;
              }
              a {
                font-size: rem(15);
                line-height: 1;
                width: 270px;
                height: 40px;
                display: flex;
                justify-content: center;
                font-weight: 500;
                align-items: center;
                border-radius: 5px;
                position: relative;
                letter-spacing: 1px;
                transform: perspective(1px) translateZ(0);
                transition-property: color;
                transition-duration: 0.3s;
                &:before {
                  content: "";
                  position: absolute;
                  z-index: -1;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  transform: scaleX(0);
                  transform-origin: 0 50%;
                  transition-property: transform;
                  transition-duration: 0.25s;
                  transition-timing-function: ease-out;
                }
                &:after {
                  content: "";
                  width: 8px;
                  height: 14px;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: 15px;
                }
                &.btn_w {
                  border: 2px solid #3B8DCD;
                  color: #3B8DCD;
                  &:before{
                    background: #3B8DCD;
                  }
                  &:after {
                    background: url(../images/arr_right.png) no-repeat;
                    background-size: contain;
                  }
                  &:hover{
                    color: #fff;
                    &:before{
                      transform: scaleX(1);
                      transition-timing-function: cubic-bezier(0);
                    }
                    &:after{
                      background:url(../images/arr_right_hv.png) no-repeat;
                      background-size: contain;
                    }
                  }
                }
                &.btn_p {
                  background-color: #E73C64;
                  border: 2px solid #E73C64;
                  color: #fff;
                  &:before{
                    background: #fff;
                  }
                  &:after {
                    background: url(../images/arr_white.png) no-repeat;
                    background-size: contain;
                  }
                  &:hover{
                    color: #E73C64;
                    &:before{
                      transform: scaleX(1);
                      border-radius: 3px;
                    }
                    &:after{
                      background:url(../images/arr_white_hv.png) no-repeat;
                      background-size: contain;
                    }
                  }
                }
              }
            }
          }
        }
        &_r {
          width: 356px;
          background-color: #F5F7F9;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          .top_sp {
            background: url(../images/bkg_item.png) no-repeat;
            background-size: contain;
            width: 114px;
            height: 89px;
            position: absolute;
            top: -30px;
            left: -39px;
            em {
              font-size: rem(18);
              font-style: normal;
              line-height: 1.2;
              text-align: center;
              display: block;
              color: #fff;
              padding: 21px 5px 0 0;
              transform: rotate(-18deg);
            }
            span {
              font-size: rem(22);
              display: block;
            }
          }
          figure {
            text-align: center;
            padding: 20px 0;
            figcaption {
              font-size: rem(17);
              margin-top: 15px;
              line-height: 1;
              font-weight: bold;
              font-family: 'Arial', sans-serif;
              text-align: center;
            }
          }
        }
      }
    }
  }
}