table,th,td{
  border-collapse: collapse;
  border: 1px solid #BBBBBB;
  width: 100%;
}
.tbl{
  border-radius: 5px;
  th{
    font-size: rem(16);
    line-height: 25px;
    font-weight: 500;
    width: 270px;
    text-align: left;
    padding: 15px 30px;
    background-color: #EFEFEF;
  }
  td{
    width: calc(100% - 270px);
    padding: 15px 30px;
    font-size: rem(16);
    line-height: 25px;
  }
}
.list{
  counter-reset: li;
  margin: 30px 0 110px;
  li{
    font-size: rem(11);
    line-height: 18px;
    color: #9A9A9A;
    position: relative;
    padding-left: 25px;
    &:first-of-type{
      padding-left:0;
      margin-bottom: 10px;
      &:before{
        content:none;
      }
    }
    &:before{
      counter-increment: li;
      content: "※" counter(li);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}