.product_tab{
	padding-top: 70px;
	&_head{
		margin-bottom: 60px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		li{
			a{
				width: 440px;
				display: block;
				text-align: center;
				font-size: 2.6rem;
				line-height: 1;
				border: 1px solid #CCCCCC;
				border-radius: 5px;
				padding: 14px 0;
				font-weight: 500;
				color: #CCCCCC;
				&.selected{
	            	background: #3B8DCD;
	            	color: #fff;
	            	border: 1px solid #3B8DCD;
	            	position: relative;
	            	&:after{
	            		content: '';
		              	width: 22px;
		              	height: 10px;
		              	background: url(../images/ic_mesdown.png) no-repeat;
		              	background-size: contain;
		              	position: absolute;
		              	left: 0;
		              	right: 0;
		              	bottom: -10px;
					    margin: auto;
					    z-index: 1;
	            	}
	          	}
			}
		}
	}
	.tabContent{
		h3{
			font-size: 2.5rem;
			line-height: 1.5;
			color: #3B8DCD;
			text-align: center;
			margin-bottom: 75px;
			font-weight: bold;
			span{
				font-family: Arial;
			}
		}
		&.hide{
	        display: none;
	    }
	    .tab_ct{
	    	display: flex;
	    	align-items: center;
	    	justify-content: space-between;
	    	margin-bottom: 75px;
	    	dl{
	    		padding-right: 60px;
	    		dt{
					font-size: 2.6rem;
				    line-height: 1.5;
				    border-bottom: 2px solid #3B8DCD;
				    color: #3B8DCD;
				    font-weight: 500;
				    padding-bottom: 10px;
				    margin-bottom: 25px;
				}
				dd{
					font-size: 1.5rem;
					line-height: 2;
					color: #333;
				}
	    	}
	    }
	}
}
